<link rel="stylesheet" type="text/css" href="/css/vendor/component.css" />
{#<script src="/js/classie.js"></script>#}
{#<script src="/js/modalEffects.js"></script>#}
{#<script src="/js/cssParser.js"></script>#}
{#<script src="/js/css-filters-polyfill.js"></script>#}
<link rel="stylesheet" href="/css/pages/album.css">
<link rel="stylesheet" href="/css/pages/personal_page.css">

 <div class="row slid  padding-right_0" ng-show="user">

        <div class="row">
            <h3 class="col-sm-5 lobster name__user"><a href="#/[[ user.id ]]">[[ user.username ]] [[ user.lastname ]]</a></h3>
            <h4 class="col-sm-6 lobster text-gray margin-top_30 margin-left_15">Альбом "[[ user.albums[album_key].name ]]"</h4>
        </div>

         <div class="col-sm-5 user padding-left_0">
             {{ render(controller('CreativerFrontBundle:Default:userInfoTmp', {'id': id})) }}
         </div>

        <div class="col-sm-7 album" ng-if="album_key" ng-init="res = user.albums[album_key].images.length/3">
            <div class="row album__cards" ng-init="k=0">
                <div class="col-sm-4 text-center">
                    <a ng-href="#album/[[id_album]]/[[ image.name ]]/[[ key ]]" class="album__element__view" ng-repeat="(key,image) in user.albums[album_key].images.slice(0, res)">
                        <div class="padding__1">
                            <div class="album__element__view__top"><img ng-src="{{ path_img_album_thums }}/[[ image.name ]]" /></div>
                        </div>
                        <div class="album__element__view__bottom">
                            <div class="left-info bottom__plus user__text-gray margin-left_10 fs_0-8"><span class="glyphicon glyphicon-eye-open"></span> <span>[[ user.albums[album_key].images.slice(0, res)[key].views || 0 ]]</span></div>
                            <div class="right-info bottom__plus user__text-gray margin-right_10 fs_0-8"><span class="glyphicon glyphicon-thumbs-up"></span> <span class="fs_0-9">[[ user.albums[album_key].images.slice(0, res)[key].likes ]]</span></div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-4 text-center">
                    <a ng-href="#album/[[id_album]]/[[ image.name ]]/[[ key+math.floor(res) ]]" class="album__element__view" ng-repeat="(key,image) in user.albums[album_key].images.slice(res, res*2)">
                        <div class="padding__1">
                            <div class="album__element__view__top"><img ng-src="{{ path_img_album_thums }}/[[ image.name ]]" /></div>
                        </div>
                        <div class="album__element__view__bottom">
                            <div class="left-info bottom__plus user__text-gray margin-left_10 fs_0-8"><span class="glyphicon glyphicon-eye-open"></span> <span>[[ user.albums[album_key].images.slice(res, res*2)[key].views || 0 ]]</span></div>
                            <div class="right-info bottom__plus user__text-gray margin-right_10 fs_0-8"><span class="glyphicon glyphicon-thumbs-up"></span> <span class="fs_0-9">[[ user.albums[album_key].images.slice(res, res*2)[key].likes ]]</span></div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-4 text-center">
                    <a ng-href="#album/[[id_album]]/[[ image.name ]]/[[ key+math.floor(res*2) ]]" class="album__element__view" ng-repeat="(key,image) in user.albums[album_key].images.slice(res*2, res*3)">
                        <div class="padding__1">
                            <div class="album__element__view__top"><img ng-src="{{ path_img_album_thums }}/[[ image.name ]]" /></div>
                        </div>
                        <div class="album__element__view__bottom">
                            <div class="left-info bottom__plus user__text-gray margin-left_10 fs_0-8"><span class="glyphicon glyphicon-eye-open"></span> <span class="fs_0-9">[[ user.albums[album_key].images.slice(res*2, res*3)[key].views || 0 ]]</span></div>
                            <div class="right-info bottom__plus user__text-gray margin-right_10 fs_0-8"><span class="glyphicon glyphicon-thumbs-up"></span> <span class="fs_0-9">[[ user.albums[album_key].images.slice(res*2, res*3)[key].likes ]]</span></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="padding-bottom_30">
                <h4 class="lobster text-gray margin-left_15" ng-init="count_albums=3">Альбомы</h4>
                <div class="album__element" ng-repeat="album in user.albums.slice(0, count_albums)">
                    <a href="#/album/[[album.id]]" class="album__link"></a>
                    <div class="frame__img">
                        <img class="album_img" ng-show="album.img" ng-src="{{ path_img_album_thums }}[[ album.img ]]" />
                        <img class="album_img" ng-show="!album.img" ng-src="{{ path_img_album_thums }}[[ album.images[0].name ]]" />
                    </div>
                    <img class="frame" src="/var/www/creativer/web/img/frame.png" />
                    <div class="album__element-block">
                        <a href="#/album/[[album.id]]" class="album__element-name">[[ album.name ]]</a>
                        <div class="left-info__album user__text-gray margin-left_10"><span class="glyphicon glyphicon-eye-open"></span> <span class="fs_0-9">[[ album.views || 0 ]]</span></div>
                        <div class="right-info__album user__text-gray margin-right_10"><span class="glyphicon glyphicon-thumbs-up"></span> <span class="fs_0-9">[[ album.likes ]]</span></div>
                    </div>
                </div>
            </div>

            <div class="row margin-top_30 text-center user__text pointer" ng-click="count_albums = user.albums.length" ng-show="count_albums == 3">
                <span>Показать все альбомы</span> <span class="glyphicon glyphicon-menu-down"></span>
            </div>

            <div class="row margin-top_30 text-center user__text pointer" ng-click="count_albums = 3" ng-show="count_albums > 3">
                <span>Скрыть все альбомы</span> <span class="glyphicon glyphicon-menu-up"></span>
            </div>

        </div>

            <div ng-show="url_img" class="background__viewer">
                   <a href="#album/[[id_album]]/[[ user.albums[album_key].images[key_img-1].name ]]/[[key_img-1]]" class="right background__viewer__link__previous">
                       <span class="glyphicon glyphicon-chevron-left text-white previous"></span>
                   </a>
                   <div class="border__viewer">
                       <div class="border__viewer__wrapper">
                           <div class="wrapper__background">
                                <a href="#album/[[id_album]]/[[ user.albums[album_key].images[next_key_img].name ]]/[[next_key_img]]"><img class="margin-top_10 viewer__image" style="max-height: [[ height ]]px;" src="{{ path_img_album_original }}/[[url_img]]" /></a>
                           </div>
                           <div class="margin-top_10 row wrapper__comment">

                               <div class="col-sm-9 padding-left_0">
                                   <span class="left user__text">[[ user.albums[album_key].images[key_img].text ]]</span>
                               </div>



                               <div class="col-sm-3 padding-right_0 text-right">
                                   <time class="text-gray ng-binding">[[ user.albums[album_key].images[album_key].date  | date: "dd.MM.yyyy" ]]</time> |

                                   <span ng-class="{'click_class':(click_class === 'true' && user.albums[album_key].images_likes[img_id].liked), 'yes_like':user.albums[album_key].images_likes[img_id].liked}"  ng-if="user.albums[album_key].images_likes[img_id].liked != undefined" class="text-blue glyphicon glyphicon-heart pointer no_like" style="top: 2px;" ng-click="like(user.albums[album_key].images[key_img].id,album_key,key_img); click_class = 'true'">
                                       <span class="fs_1-1 lobster" style="font-weight: bold; margin-left: -4px;">[[ user.albums[album_key].images[key_img].likes ]]</span>
                                   </span>
                               </div>

                           </div>
                           <div ng-show="delete" class="user__text">Вы уверены, что хотите удалить это изображение? <span class="text-blue pointer margin-left_10" ng-click="deleteImage(user.albums[album_key].images[key_img].id,key_img,album_key)">Да</span> <span class="text-blue pointer margin-left_10" ng-click="delete = false">Нет</span></div>
                           <div class="horizontal_line_album_img wrapper__comment"></div>

                           <div class="row margin-top_10 wrapper__comment">

                                <div class="col-sm-10" >
                                    <div class="row col-sm-12" ng-repeat="comment in user.albums[album_key].images[key_img].image_comments">
                                        <div class="col-sm-2">
                                            <div class="user__avatar-super-mini">
                                                <img ng-if="comment.user" ng-src="[[ comment.user.avatar ]]">
                                                <img ng-if="!comment.user" ng-src="[[ user.avatar ]]">
                                            </div>
                                        </div>
                                        <div class="col-sm-10 padding-left_10">
                                            <div class="row col-sm-12 user__text_bold text-left" ng-if="comment.user">[[ comment.user.username ]] [[ comment.user.lastname ]]</div>
                                            <div class="row col-sm-12 user__text_bold text-left" ng-if="!comment.user">[[ user.username ]] [[ user.lastname ]]</div>
                                            <div class="row col-sm-12"><p class="user__text left">[[ comment.text ]]</p></div>
                                            <div class="row col-sm-12 text-left"><time class="text-gray comment_time">[[ comment.date | date: "dd.MM.yyyy HH:mm" ]]</time></div>
                                        </div>
                                        <div class="col-sm-12 margin-left_25 margin-top_10 slid__comment__line"></div>
                                    </div>

                                    <textarea msd-elastic="" class="text-gray margin-left_25 margin-top_10 ng-pristine ng-valid ng-touched" ng-model="text_comment" cols="63" rows="1" placeholder="Написать комментарий" style="width: 440px; overflow: hidden; word-wrap: break-word; resize: none; height: 46px;"></textarea>
                                    <div ng-show="text_comment" class="margin-top_5 text-right">
                                        <button class="true fs_0-9" ng-click="saveImageComment(user.albums[album_key].images[key_img],text_comment)" ng-class="{'loader':loader}">Отправить</button>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <span class="left">Альбом:</span><br>
                                    <span class="text-blue left text-left">[[ user.albums[album_key].name ]]</span><br>
                                    <nav class="margin-top_10">
                                        <a target="_blank" href="/home/album/original/[[ user.albums[album_key].images[key_img].name ]]"><span class="text-blue left">Увеличить</span></a><br>
                                        <span class="text-blue left pointer" ng-click="delete = true">Удалить</span><br>
                                    </nav>
                                </div>

                            </div>
                       </div>
                   </div>
                   <a href="#album/[[id_album]]" ng-click="closeImg()" class="right background__viewer__link__next">
                        <span class="glyphicon glyphicon-remove text-white close_img"></span>
                   </a>
            </div>
 </div>