 <div class="row slid  padding-right_0" ng-show="user">

        <div class="row">
            <div class="col-sm-5 padding-left_0">
                <div class="col-sm-7 padding-left_0" >
                    <h3 class="lobster name__user"><a href="#/[[ user.id ]]">[[ user.username ]] [[ user.lastname ]]</a></h3>
                </div>
                <div ng-if="user.connection_status != '-0001-11-30T00:00:00+0150' && user.id != $root.id_user" class="col-sm-5 connection_status line-height_1 margin-top_25 padding-right_15 text-right">
                    [[ user.connection_status | date: "dd MMM HH:mm" ]]
                </div>
                <div ng-if="user.connection_status == '-0001-11-30T00:00:00+0150' && user.id != $root.id_user" class="col-sm-5 connection_status line-height_1 margin-top_25 padding-right_15 text-right">
                    Online
                </div>
            </div>
            <h4 class="col-sm-6 lobster text-gray margin-top_30 padding-left_0">Альбом "[[ user.albums[album_key].name ]]"</h4>
        </div>

         <div class="col-sm-5 user padding-left_0">
             {{ render(controller('CreativerFrontBundle:Default:userInfoTmp', {'id': id})) }}
         </div>

        <div class="col-sm-7 album" ng-if="album_key" ng-init="res = user.albums[album_key].images.length/3">
            <div class="row album__cards col-sm-12" ng-init="k=0">
                <div class="col-sm-4 text-center">
                    <a ng-href="#album/[[id_album]]/[[ image.name ]]/[[ key ]]" class="album__element__view" ng-repeat="(key,image) in user.albums[album_key].images.slice(0, res)">
                        <div class="padding__1">
                            <div class="album__element__view__top"><img ng-src="{{ path_img_album_thums }}/[[ image.path ]][[ image.name ]]" /></div>
                        </div>
                        <div class="album__element__view__bottom">
                            <div class="left-info bottom__plus user__text-gray margin-left_10 fs_0-8"><span class="glyphicon glyphicon-eye-open"></span> <span>[[ user.albums[album_key].images.slice(0, res)[key].views || 0 ]]</span></div>
                            <div class="right-info bottom__plus user__text-gray margin-right_10 fs_0-8"><span class="glyphicon glyphicon-thumbs-up"></span> <span class="fs_0-9">[[ user.albums[album_key].images.slice(0, res)[key].likes ]]</span></div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-4 text-center">
                    <a ng-href="#album/[[id_album]]/[[ image.name ]]/[[ key+math.floor(res) ]]" class="album__element__view" ng-repeat="(key,image) in user.albums[album_key].images.slice(res, res*2)">
                        <div class="padding__1">
                            <div class="album__element__view__top"><img ng-src="{{ path_img_album_thums }}/[[ image.path ]][[ image.name ]]" /></div>
                        </div>
                        <div class="album__element__view__bottom">
                            <div class="left-info bottom__plus user__text-gray margin-left_10 fs_0-8"><span class="glyphicon glyphicon-eye-open"></span> <span>[[ user.albums[album_key].images.slice(res, res*2)[key].views || 0 ]]</span></div>
                            <div class="right-info bottom__plus user__text-gray margin-right_10 fs_0-8"><span class="glyphicon glyphicon-thumbs-up"></span> <span class="fs_0-9">[[ user.albums[album_key].images.slice(res, res*2)[key].likes ]]</span></div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-4 text-center">
                    <a ng-href="#album/[[id_album]]/[[ image.name ]]/[[ key+math.floor(res*2) ]]" class="album__element__view" ng-repeat="(key,image) in user.albums[album_key].images.slice(res*2, res*3)">
                        <div class="padding__1">
                            <div class="album__element__view__top"><img ng-src="{{ path_img_album_thums }}/[[ image.path ]][[ image.name ]]" /></div>
                        </div>
                        <div class="album__element__view__bottom">
                            <div class="left-info bottom__plus user__text-gray margin-left_10 fs_0-8"><span class="glyphicon glyphicon-eye-open"></span> <span class="fs_0-9">[[ user.albums[album_key].images.slice(res*2, res*3)[key].views || 0 ]]</span></div>
                            <div class="right-info bottom__plus user__text-gray margin-right_10 fs_0-8"><span class="glyphicon glyphicon-thumbs-up"></span> <span class="fs_0-9">[[ user.albums[album_key].images.slice(res*2, res*3)[key].likes ]]</span></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="padding-bottom_30">
                <h4 class="lobster text-gray margin-left_15" ng-init="count_albums=3">Альбомы</h4>
                <div class="album__element" ng-repeat="album in user.albums.slice(0, count_albums)">
                    <a href="#/album/[[album.id]]" class="album__link"></a>
                    <div class="frame__img">
                        <img class="album_img" ng-show="album.img" ng-src="{{ path_img_album_thums }}[[ album.img ]]" />
                        <img class="album_img" ng-show="!album.img" ng-src="{{ path_img_album_thums }}[[ album.images[0].path ]][[ album.images[0].name ]]" />
                    </div>
                    <img class="frame" src="/var/www/creativer/web/img/frame.png" />
                    <div class="album__element-block">
                        <a href="#/album/[[album.id]]" class="album__element-name">[[ album.name ]]</a>
                        <div class="left-info__album user__text-gray margin-left_10"><span class="glyphicon glyphicon-eye-open"></span> <span class="fs_0-9">[[ album.views || 0 ]]</span></div>
                        <div class="right-info__album user__text-gray margin-right_10"><span class="glyphicon glyphicon-thumbs-up"></span> <span class="fs_0-9">[[ album.likes ]]</span></div>
                    </div>
                </div>
            </div>

            <div class="row margin-top_30 text-center user__text pointer" ng-click="count_albums = user.albums.length" ng-show="count_albums == 3">
                <span>Показать все альбомы</span> <span class="glyphicon glyphicon-menu-down"></span>
            </div>

            <div class="row margin-top_30 text-center user__text pointer" ng-click="count_albums = 3" ng-show="count_albums > 3">
                <span>Скрыть все альбомы</span> <span class="glyphicon glyphicon-menu-up"></span>
            </div>

        </div>


     <div ui-view>
     </div>
     {#{{ render(controller('CreativerFrontBundle:Default:showPhotoTmp')) }}#}
     <div ng-if="!key_img">
         <span ng-init="$root.overflow = false"></span>
     </div>
 </div>