<link rel="stylesheet" type="text/css" href="/css/vendor/component.css" />
<script src="/js/classie.js"></script>
<script src="/js/modalEffects.js"></script>
<script src="/js/cssParser.js"></script>
<script src="/js/css-filters-polyfill.js"></script>
<link rel="stylesheet" href="/css/pages/album.css">
<link rel="stylesheet" href="/css/pages/personal_page.css">

 <div class="row slid  padding-right_0" ng-show="user">

        <div class="row">
            <h3 class="col-sm-5 lobster name__user"><a href="#/[[ user.id ]]">[[ user.username ]] [[ user.lastname ]]</a></h3>
            <h4 class="col-sm-6 lobster text-gray margin-top_30 margin-left_15">Альбом "[[ user.albums[id].name ]]"</h4>
        </div>

     <div class="col-sm-5 user padding-left_0">
         {% if( (id == app.security.getToken().getUser().getId()) ) %}
             <div class="row">
                 <div class="col-sm-5 padding-left_0">
                     <label class="user__avatar edit__avatar" >
                         <img src="[[ user.avatar.img ]]" />
                         <input type="file" id="fileInput" style="display: none;" />
                     </label>
                 </div>

                 <div class="col-sm-7 user__text">
                     <div class="row col-sm-12 margin-top_10 padding-left_0">
                         <input class="text_info" ng-blur="saveField($event,'status')" obj="user" value="[[ user.status ]]" placeholder="Вы не указали свой статус." disabled>
                         <span class="glyphicon glyphicon-pencil edit" edit-pain="status"></span>
                     </div>
                     <div class="row col-sm-12 margin-top_10 padding-left_0">
                         <span class="gelocation_icon left"></span><input class="text_info gelocation_icon__text_info" ng-blur="saveField($event,'position')" obj="user" value="[[ user.position ]]" placeholder="Местоположение не обнаружено." disabled>
                         <span class="glyphicon glyphicon-pencil edit" edit-pain="position"></span>
                     </div>
                 </div>
             </div>
         {% elseif(id != app.security.getToken().getUser().getId()) %}
             <div class="row">
                 <div class="col-sm-5 padding-left_0">
                     <div class="user__avatar"><img src="[[ user.avatar.img ]]" /></div>
                 </div>
                 <div class="col-sm-7 user__text">
                     <div class="row col-sm-12 margin-top_10 padding-left_0">
                         <div class="text_info gelocation_icon__text_info" >[[ user.status ]]</div>
                     </div>
                     <div class="row col-sm-12 margin-top_10 padding-left_0">
                         <div class="text_info gelocation_icon__text_info" >[[ user.position ]]</div>
                     </div>
                 </div>
             </div>
         {% endif %}

         <div class="row margin-top_20">
             <div class="col-sm-1 icon-color"><span class="glyphicon glyphicon-eye-open"></span></div>
             <div class="col-sm-2 user__text_bold padding-left_0">Просмотры</div>
             <div class="col-sm-3 col-md-offset-6 user__text_bold">0</div>
         </div>
         <div class="row margin-top_5">
             <div class="col-sm-1 icon-color"><span class="glyphicon glyphicon-thumbs-up"></span></div>
             <div class="col-sm-2 user__text_bold padding-left_0">Нравится</div>
             <div class="col-sm-3 col-md-offset-6 user__text_bold">0</div>
         </div>
         <div class="row margin-top_5">
             <div class="col-sm-1 icon-color"><span class="glyphicon glyphicon-heart"></span></div>
             <div class="col-sm-4 user__text_bold padding-left_0">В избранных у</div>
             <div class="col-sm-3 col-md-offset-4 user__text_bold">[[ user.favorits_with_me.length ]]</div>
         </div>

         {% if( (id == app.security.getToken().getUser().getId()) ) %}
             <div class="row margin-top_40 col-sm-12 user__text">
                 <div class="text-left user__text_bold">Информация:</div>
                 <input class="text_info" ng-blur="saveField($event,'info')" obj="user" value="[[ user.info ]]" placeholder="Вы ещё не запонили это поле." disabled>
                 <span class="glyphicon glyphicon-pencil edit" edit-pain="info"></span>
             </div>

             <div class="row margin-top_20 col-sm-12 user__text">
                 <div class="text-left user__text_bold">Специализация:</div>
                 <input class="text_info" ng-blur="saveField($event,'specialization')" obj="user" value="[[ user.specialization ]]" placeholder="Вы ещё не запонили это поле." disabled>
                 <span class="glyphicon glyphicon-pencil edit" edit-pain="specialization"></span>
             </div>

             <div class="row margin-top_20 col-sm-12 user__text">
                 <div class="text-left user__text_bold">Работал в:</div>
                 <input class="text_info" ng-blur="saveField($event,'worked')" obj="user" value="[[ user.worked ]]" placeholder="Вы ещё не запонили это поле." disabled>
                 <span class="glyphicon glyphicon-pencil edit" edit-pain="worked"></span>
             </div>

             <div class="row margin-top_20 col-sm-12 user__text">
                 <div class="text-left user__text_bold">Ссылки:</div>
                 <input class="text_info" ng-blur="saveField($event,'links')" obj="user" value="[[ user.links ]]" placeholder="Вы ещё не запонили это поле." disabled>
                 <span class="glyphicon glyphicon-pencil edit" edit-pain="links"></span>
             </div>

             <div class="row margin-top_20 col-sm-12 user__text">
                 <div class="text-left user__text_bold">Контакты:</div>
                 <input class="text_info" ng-blur="saveField($event,'contacts')" obj="user" value="[[ user.contacts ]]" placeholder="Вы ещё не запонили это поле." disabled>
                 <span class="glyphicon glyphicon-pencil edit"  edit-pain="contacts"></span>
             </div>

             <div class="margin-top_20 col-sm-12 user__text">
                 <div class="row text-left user__text_bold">Избранные:</div>
                 <a href="#/[[ favorit.id ]]" class="col-sm-2 padding-left_0 padding-right_0 block text-gray" ng-repeat="favorit in user.my_favorits.slice(0,5)">
                     <div class="user__avatar-mini">
                         <img ng-src="[[ favorit.avatar.img ]]">
                     </div>
                     <div class="text-center fs_0-8 lobster">[[ favorit.username ]]</div>
                     <div class="text-center fs_0-8 lobster">[[ favorit.lastname ]]</div>
                 </a>
             </div>

             <div class="row margin-top_20 col-sm-12 user__text">
                 <div class="text-left user__text_bold">Присоединился:</div>
                 <time class="text_info" >[[ user.date | date: "dd.MM.yyyy" ]]</time>
             </div>
         {% elseif(id != app.security.getToken().getUser().getId()) %}
             <div class="row margin-top_40 col-sm-12 user__text" ng-show="user.info">
                 <div class="text-left user__text_bold">Информация:</div>
                 <div class="">[[ user.info ]]</div>
             </div>

             <div class="row margin-top_20 col-sm-12 user__text" ng-show="user.specialization">
                 <div class="text-left user__text_bold">Специализация:</div>
                 <div class="text_info">[[ user.specialization ]]</div>
             </div>

             <div class="row margin-top_20 col-sm-12 user__text" ng-show="user.worked">
                 <div class="text-left user__text_bold">Работал в:</div>
                 <div class="text_info">[[ user.worked ]]</div>
             </div>

             <div class="row margin-top_20 col-sm-12 user__text" ng-show="user.links">
                 <div class="text-left user__text_bold">Ссылки:</div>
                 <div class="text_info">[[ user.links ]]</div>
             </div>

             <div class="row margin-top_20 col-sm-12 user__text" ng-show="user.contacts">
                 <div class="text-left user__text_bold">Контакты:</div>
                 <div class="text_info">[[ user.contacts ]]</div>
             </div>

             <div class="margin-top_20 col-sm-12 user__text">
                 <div class="row text-left user__text_bold">Избранные:</div>
                 <a href="#/[[ favorit.id ]]" class="col-sm-2 padding-left_0 padding-right_0 block text-gray" ng-repeat="favorit in user.my_favorits.slice(0,5)">
                     <div class="user__avatar-mini">
                         <img ng-src="[[ favorit.avatar.img ]]">
                     </div>
                     <div class="text-center fs_0-8 lobster">[[ favorit.username ]]</div>
                     <div class="text-center fs_0-8 lobster">[[ favorit.lastname ]]</div>
                 </a>
             </div>

             <div class="row margin-top_20 col-sm-12 user__text">
                 <div class="text-left user__text_bold">Присоединился:</div>
                 <time class="text_info" >[[ user.date | date: "dd.MM.yyyy" ]]</time>
             </div>
         {% endif %}
     </div>

        <div class="col-sm-7 album" ng-init="res = user.albums[id].images.length/3">
            <div class="row album__cards" ng-init="k=0">
                <div class="col-sm-4 text-center">
                    <a ng-href="#album/[[id_album]]/[[ image.name ]]/[[ key ]]" class="album__element__view" ng-repeat="(key,image) in user.albums[id].images.slice(0, res)">
                        <div class="padding__1">
                            <div class="album__element__view__top"><img ng-src="{{ path_img_album_thums }}/[[ image.name ]]" /></div>
                        </div>
                        <div class="album__element__view__bottom">
                            <div class="left-info bottom__plus user__text-gray margin-left_10 fs_0-8"><span class="glyphicon glyphicon-eye-open"></span> <span>123</span></div>
                            <div class="right-info bottom__plus user__text-gray margin-right_10 fs_0-8"><span class="glyphicon glyphicon-thumbs-up"></span> <span class="fs_0-9">435</span></div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-4 text-center">
                    <a ng-href="#album/[[id_album]]/[[ image.name ]]/[[ key+math.floor(res) ]]" class="album__element__view" ng-repeat="(key,image) in user.albums[id].images.slice(res, res*2)">
                        <div class="padding__1">
                            <div class="album__element__view__top"><img ng-src="{{ path_img_album_thums }}/[[ image.name ]]" /></div>
                        </div>
                        <div class="album__element__view__bottom">
                            <div class="left-info bottom__plus user__text-gray margin-left_10 fs_0-8"><span class="glyphicon glyphicon-eye-open"></span> <span>123</span></div>
                            <div class="right-info bottom__plus user__text-gray margin-right_10 fs_0-8"><span class="glyphicon glyphicon-thumbs-up"></span> <span class="fs_0-9">445</span></div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-4 text-center">
                    <a ng-href="#album/[[id_album]]/[[ image.name ]]/[[ key+math.floor(res*2) ]]" class="album__element__view" ng-repeat="(key,image) in user.albums[id].images.slice(res*2, res*3)">
                        <div class="padding__1">
                            <div class="album__element__view__top"><img ng-src="{{ path_img_album_thums }}/[[ image.name ]]" /></div>
                        </div>
                        <div class="album__element__view__bottom">
                            <div class="left-info bottom__plus user__text-gray margin-left_10 fs_0-8"><span class="glyphicon glyphicon-eye-open"></span> <span class="fs_0-9">123</span></div>
                            <div class="right-info bottom__plus user__text-gray margin-right_10 fs_0-8"><span class="glyphicon glyphicon-thumbs-up"></span> <span class="fs_0-9">445</span></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="padding-bottom_30">
                <h4 class="lobster text-gray margin-left_15" ng-init="count_albums=3">Альбомы</h4>
                <div class="album__element" ng-repeat="album in user.albums.slice(0, count_albums)">
                    <a href="#/album/[[album.id]]" class="album__link"></a>
                    <div class="frame__img">
                        <img class="album_img" ng-show="album.img" ng-src="{{ path_img_album_thums }}[[ album.img ]]" />
                        <img class="album_img" ng-show="!album.img" ng-src="{{ path_img_album_thums }}[[ album.images[0].name ]]" />
                    </div>
                    <img class="frame" src="/var/www/creativer/web/img/frame.png" />
                    <div class="album__element-block">
                        <a href="#/album/[[album.id]]" class="album__element-name">[[ album.name ]]</a>
                        <div class="left-info__album user__text-gray margin-left_10"><span class="glyphicon glyphicon-eye-open"></span> <span class="fs_0-9">0</span></div>
                        <div class="right-info__album user__text-gray margin-right_10"><span class="glyphicon glyphicon-thumbs-up"></span> <span class="fs_0-9">67</span></div>
                    </div>
                </div>
            </div>

            <div class="row margin-top_30 text-center user__text pointer" ng-click="count = user.albums.length" ng-show="count == 3">
                <span>Показать остальные</span> <span class="glyphicon glyphicon-menu-down"></span>
            </div>
        </div>

            <div ng-show="url_img" class="background__viewer">
                   <a href="#album/[[id_album]]/[[ user.albums[id].images[key_img-1].name ]]/[[key_img-1]]" class="right background__viewer__link__previous">

                   </a>
                   <div class="border__viewer">
                       <div class="border__viewer__wrapper">
                           <div class="row"><time class="text-gray ng-binding left">[[ user.albums[id].images[next_key_img].date  | date: "dd.MM.yyyy" ]]</time></div>
                           <div class="row">
                                <a href="#album/[[id_album]]/[[ user.albums[id].images[next_key_img].name ]]/[[next_key_img]]"><img class="margin-top_10 viewer__image" src="{{ path_img_album_original }}/[[url_img]]" /></a>
                           </div>
                           <div class="margin-top_10 row">
                               <span class="left user__text">[[ user.albums[id].images[next_key_img].text ]]</span>
                               <a class="text-blue glyphicon glyphicon-heart right" href=""></a>
                           </div>
                           <div ng-show="delete" class="user__text">Вы уверены, что хотите удалить изображение? <span class="text-blue pointer margin-left_10" ng-click="deleteImage(user.albums[id].images[key_img].id,key_img,id)">Да</span> <span class="text-blue pointer margin-left_10" ng-click="delete = false">Нет</span></div>
                           <div class="horizontal_line"></div>

                           <div class="row margin-top_10 wrapper__comment">

                                <div class="col-sm-10" >
                                    <div class="row col-sm-12" ng-repeat="comment in user.comments">
                                        <div class="col-sm-2">
                                            <div class="user__avatar-super-mini"><img ng-src="[[ comment.avatar.img ]]"></div>
                                        </div>
                                        <div class="col-sm-10 padding-left_10">
                                            <div class="row col-sm-12 user__text_bold text-left">[[ comment.avatar.user.username ]] [[ comment.avatar.user.lastname ]]</div>
                                            <div class="row col-sm-12"><p class="user__text left">[[ comment.text ]]</p></div>
                                            <div class="row col-sm-12 text-left"><time class="text-gray comment_time">[[ comment.date | date: "dd.MM.yyyy HH:mm" ]]</time></div>
                                        </div>
                                        <div class="col-sm-12 margin-left_25 margin-top_10 slid__comment__line"></div>
                                    </div>

                                    <textarea msd-elastic="" class="text-gray margin-left_25 margin-top_10 ng-pristine ng-valid ng-touched" ng-model="text_comment" cols="63" rows="1" placeholder="Оставить комментарий" style="width: 440px; overflow: hidden; word-wrap: break-word; resize: none; height: 46px;"></textarea>
                                    <div ng-show="text_comment" class="margin-top_5 text-right">
                                        <button class="true fs_0-9" ng-click="saveImageComment(user.albums[id].images[key_img],text_comment)">Отправить</button>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <span class="left">Альбом:</span><br>
                                    <span class="text-blue left text-left">[[ user.albums[id].name ]]</span><br>
                                    <nav class="margin-top_10">
                                        <span class="text-blue left">Увеличить</span><br>
                                        <span class="text-blue left pointer" ng-click="delete = true">Удалить</span><br>
                                    </nav>
                                </div>

                            </div>
                       </div>
                   </div>
                   <a href="#album/[[id_album]]" class="right background__viewer__link__next">

                   </a>
            </div>
 </div>

<div ng-show="myImage" class="background__viewer-avatar">

    <div class="border__viewer-avatar margin-top_100">
        <div class="border__viewer__wrapper-avatar">

            <!-- Modal -->
            <div class="cropArea row" style="height: 340px;">


                <img-crop class="col-sm-9 border-avatar" image="myImage" result-image="myCroppedImage" result-image-size="120" style="max-height: 100%;"></img-crop>
                <div class="col-sm-3">
                    <div class="row col-sm-offset-4 user__avatar padding-left_0 padding-right_0">
                        <img src="[[ myCroppedImage ]]">
                        <input type="file" id="fileInput" style="display: none;">
                    </div>

                    <div class="row user__avatar-mini padding-left_0 padding-right_0">
                        <img src="[[ myCroppedImage ]]">
                    </div>
                </div>

            </div>

            <div class="row margin-top_10 right">
                <button type="submit" class="true" ng-click="updateAvatar(myCroppedImage)">Отправить</button>
                <button type="reset" class="false" ng-click="myImage=''">Отменить</button>
            </div>


        </div>
    </div>

</div>