    <div class="row slid">

        <div class="row margin-top_15">
            <div class="col-xs-2 padding-left_0"><h3 class="lobster margin-left_0" ng-click="$root.full_page = 0"><a class="text-black" href="/#!/events" >События</a></h3></div>

            <div class="col-xs-2 padding-left_0 margin-top_10">
                <span>Страна</span>
                <label class="open text-blue cities__select pointer" for="all_cities"><span>[[ city.name || 'Все' ]]</span></label>
                <input type="checkbox" class="cities-checkbox" id="all_cities">
                <div class="cities__menu__main">
                    <div class="cities__background-top"></div>
                    <div class="cities__background-body">
                        <ul class="text-white cities__menu fs_1-1 padding-left_0 text-center">
                            <li>
                                <label class="pointer">Все
                                    <input type="radio" class="city-radio" name="city" value="Все" ng-model="$root.city" ng-click="uncheck()" />
                                </label>
                            </li>
                            <li ng-repeat="city in cities" class="pointer">
                                <label class="pointer">[[ city.name ]]
                                    <input type="radio" class="city-radio" name="city" ng-value="[[ city ]]" ng-model="$root.city" ng-click="uncheck($root.city.id)" />
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xs-2 slid__search__events padding-left_0 padding-right_5 margin-top_15">
                <input placeholder="Поиск в событиях" ng-model="searchEventText" ng-keyup="$event.keyCode == 13 && searchEvent()">
                <button class="slid__slider-button right margin-top_3" ng-click="searchEvent()"></button>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="/#!/create_event" class="col-xs-2 col-xs-offset-1 event_buttom margin-top_10">Создать событие</a>
            {% endif %}
        </div>

        <div class="horizontal_line_dashed"></div>

        <div class="row margin-top_10">
            <div class="col-xs-2 padding-left_0">

                <div ng-repeat="children in section" class="margin-bottom_10">
                    <div class="padding-left_0 text-gray"><h3 class="lobster margin-top_0 margin-left_0" ng-if="children.attached_datapicker == true" ng-click="$root.full_page = 1"><a class="text-gray-light" href="/#!/events/[[ children.id ]]">[[ children.name ]]</a></h3></div>
                    <div class="padding-left_0 text-gray"><h3 class="lobster margin-top_0 margin-left_0" ng-if="children.attached_datapicker == false" ng-click="$root.full_page = 2"><a class="text-gray-light" href="/#!/events/[[ children.id ]]">[[ children.name ]]</a></h3></div>
                    <div ng-repeat="child in children.children" ng-if="child.attached_datapicker == true" ng-click="$root.full_page = 1"><a class="link_event" href="/#!/events/[[ child.id ]]">[[ child.name ]]</a></div>
                    <div ng-repeat="child in children.children" ng-if="child.attached_datapicker == false" ng-click="$root.full_page = 2"><a class="link_event" href="/#!/events/[[ child.id ]]">[[ child.name ]]</a></div>
                </div>
                {% if banners_v.url %}
                    <a href="{{ banners_v.link }}"><img class="margin-top_20" src="{{ banners_v.url }}" alt="{{ banners_v.name }}" /></a>
                {% endif %}

            </div>
            <div class="col-xs-10">


                <div class="padding-left_0 text-gray" ng-show="news.length"><h3 class="lobster margin-left_0 margin-top_0">Новости</h3></div>
                <div class="horizontal_line_dashed" ng-show="news.length"></div>
                <div class="row margin-top_10 margin-bottom_20" ng-show="news.length">
                    <div class="col-xs-12 h_350">
                        <div class="col-xs-3 static">
                            <div class="row">
                                <a href="#!/event/[[ news[0].id ]]" class="overflow-hidden container_image_events block">
                                    <img class="main_small_img_event" ng-src="{{  path_img_event_original }}[[ news[0].path ]][[ news[0].img ]]" />
                                </a>
                                <a href="#!/event/[[ news[0].id ]]" class="fs_0-9 text-left text-gray">[[ news[0].name ]]</a><br>
                            </div>
                            <div class="row absolut_bottom">
                                <a href="#!/event/[[ news[1].id ]]" class="overflow-hidden container_image_events block">
                                    <img class="main_small_img_event" ng-src="{{  path_img_event_original }}[[ news[1].path ]][[ news[1].img ]]" />
                                </a>
                                <a href="#!/event/[[ news[1].id ]]" class="fs_0-9 text-left text-gray">[[ news[1].name ]]</a><br>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <a href="#!/event/[[ news[2].id ]]" class="overflow-hidden container_image_product_center block">
                                <img ng-src="{{  path_img_event_original }}[[ news[2].path ]][[ news[2].img ]]" />
                            </a>
                            <div class="padding-left_0">
                                <a href="#!/event/[[ news[2].id ]]" class="fs_0-9 text-left text-gray">[[ news[2].name ]]</a><br>
                            </div>
                        </div>
                        <div class="col-xs-3 static">
                            <div class="row right">
                                <a href="#!/event/[[ news[3].id ]]" class="overflow-hidden container_image_events">
                                    <img class="main_small_img_event" ng-src="{{  path_img_event_original }}[[ news[3].path ]][[ news[3].img ]]">
                                </a>
                                <a href="#!/event/[[ news[3].id ]]" class="fs_0-9 text-left text-gray">[[ news[3].name ]]</a><br>
                            </div>
                            <div class="row right absolut_bottom">
                                <a href="#!/event/[[ news[4].id ]]" class="overflow-hidden container_image_events">
                                    <img class="main_small_img_event" ng-src="{{  path_img_event_original }}[[ news[4].path ]][[ news[4].img ]]" >
                                </a>
                                <a href="#!/event/[[ news[4].id ]]" class="fs_0-9 text-left text-gray">[[ news[4].name ]]</a><br>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="padding-left_0 text-gray" ng-show="$root.full_page != 2"><h3 class="lobster margin-left_0 margin-top_0">События</h3></div>
                <div class="horizontal_line_dashed" ng-show="$root.full_page != 2"></div>

                <div class="calendar fiveMinuts margin-top_20" ng-switch on="days.length-1" ng-show="$root.full_page != 2">
                    <div class="head_datapicker text-white col-xs-12">
                        <div class="left year fs_1-5">[[ datapicker.current_date | date:'yyyy' ]]</div>
                        <div class="text-center fs_1-5" style="text-transform: capitalize;">
                            {#<span class="glyphicon glyphicon-chevron-left text-white previous fs_0-9" style="width: 16px;;"></span>#}
                            <span ng-click="previousMonth()" class="pointer">[[ datapicker.previous_date | date:'MMMM' ]]</span>
                            <span ng-click="getEventsByDate()" class="btn button_header_09 text-left">
                                <span>[[ datapicker.current_date | date:'MMMM' ]]</span>
                            </span>
                            <span ng-click="nextMonth()" class="pointer">[[ datapicker.next_date | date:'MMMM' ]]</span>
                            {#<span class="glyphicon glyphicon-chevron-right text-white previous fs_0-9" style="width: 16px;"></span>#}
                        </div>
                    </div>
                    <div class="glyphicon glyphicon-chevron-left text-white previous_event left margin-left_10 arrow pointer" ng-click="previousMonth()"></div>
                    <div class="glyphicon glyphicon-chevron-right text-white previous_event right margin-right_10 arrow pointer" ng-click="nextMonth()"></div>
                    <div class="body__datapicker">
                        <div ng-repeat="day in days" ng-if="day.day" class="number_date_31" ng-switch-when="31" ng-click="getEventsByDate(day.day)">
                            <div class="circle" style="color: #000000">
                                <div ng-class="{'target_day':day.day == target_day, 'datapicker_circle':day.action == 1}">
                                    [[ day.day ]]
                                </div>
                            </div>
                        </div>

                        <div ng-repeat="day in days" ng-if="day.day" class="number_date_30" ng-switch-when="30" ng-click="getEventsByDate(day.day)">
                            <div class="circle" style="color: #000000">
                                <div ng-class="{'target_day':day.day == target_day, 'datapicker_circle':day.action == 1}">
                                    [[ day.day ]]
                                </div>
                            </div>
                        </div>

                        <div ng-repeat="day in days" ng-if="day.day" class="number_date_29" ng-switch-when="29" ng-click="getEventsByDate(day.day)">
                            <div class="circle" style="color: #000000">
                                <div ng-class="{'target_day':day.day == target_day, 'datapicker_circle':day.action == 1}">
                                    [[ day.day ]]
                                </div>
                            </div>
                        </div>

                        <div ng-repeat="day in days" ng-if="day.day" class="number_date_28" ng-switch-when="28" ng-click="getEventsByDate(day.day)">
                            <div class="circle" style="color: #000000">
                                <div ng-class="{'target_day':day.day == target_day, 'datapicker_circle':day.action == 1}">
                                    [[ day.day ]]
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="banner-horizontal margin-top_20 text-center">
                    {% if banners_t.url %}
                        <a href="{{ banners_t.link }}"><img src="{{ banners_t.url }}" alt="{{ banners_t.name }}" /></a>
                    {% endif %}
                </div>


                <div>
                    <div class="lobster text-gray text-center fs_3-2 margin-top_20" ng-if="event.events.length == 0">Нет событий</div>
                    <div class="row" ng-if="(events.length % 2) == 0">
                        <div  ng-class="{'col-xs-4':((key % 2) == 0), 'col-xs-8':((key % 2) != 0), 'right':((key % 2) == 0) && ((key/2 % 2) != 0)}" class="margin-bottom_10 margin-top_10 trio_events" ng-repeat="(key,item) in events">

                                <div ng-if="(key % 2) == 0" ng-class="{'container_image_events':(key % 2) == 0}" class="block left text-gray">
                                    <a href="/#!/events/[[ item.id_cat ]]" class="name_category">[[ item.name_cat ]]</a>
                                    <a href="/#!/event/[[ item.id ]]">
                                        <img ng-if="item.img" class="main_small_img_event" ng-src="{{  path_img_event_original }}[[ item.path ]][[ item.img ]]" />
                                        <div ng-if="!item.img" class="glyphicon glyphicon-picture text-gray-light fs_3-2 default_img_event"></div>
                                    </a>
                                    <a href="/#!/event/[[ item.id ]]" class="margin-top_5">
                                        <div class="col-xs-6 padding-left_3">
                                            <span class="glyphicon glyphicon-eye-open text-gray-light middle"></span> <span class="fs_0-7 text-gray-light"> [[ item.viewed ]]</span>
                                            <span class="glyphicon glyphicon-comment text-gray-light middle"></span> <span class="fs_0-7 text-gray-light"> [[ item.count_comment ]]</span>
                                        </div>
                                        <div class="col-xs-6 padding-right_5 text-right fs_0-8 text-gray-light" ng-if="item.start_date != item.end_date">
                                            <time>[[ item.start_date | date: "dd.MM.yyyy" ]]</time><br>
                                            <time>[[ item.end_date | date: "dd.MM.yyyy" ]]</time>
                                        </div>
                                        <div class="col-xs-6 padding-right_5 text-right fs_0-8 text-gray-light" ng-if="item.start_date == item.end_date">
                                            <time>[[ item.start_date | date: "dd.MM.yyyy" ]]</time><br>
                                        </div>
                                    </a>
                                    <a href="/#!/event/[[ item.id ]]" class="row col-xs-12 margin-top_5 text-black text-bold text-underline_hover">
                                        [[ item.name ]]
                                    </a>
                                    <a href="/#!/event/[[ item.id ]]" class="row col-xs-12 margin-top_5 text-gray text-underline_none_hover" parse-description ng-model="item.description"></a>
                                </div>

                                <div ng-if="(key % 2) != 0" ng-class="{'container_image_events_big':((key % 2) != 0)}" class="block left">
                                    <a href="/#!/events/[[ item.id_cat ]]" class="name_category">[[ item.name_cat ]]</a>

                                    <a href="/#!/event/[[ item.id ]]" class="" >
                                        <img ng-if="item.img" class="blur" ng-src="{{  path_img_event_original }}[[ item.path ]][[ item.img ]]" />
                                        <div ng-if="!item.img" class="glyphicon glyphicon-picture text-gray-light fs_3-2 default_img_event"></div>
                                        <div class="container_image_events_big_text col-xs-10 col-xs-offset-1">
                                            <div class="fs_2-0 text-underline">[[ item.name ]]</div>
                                            <div class="margin-top_30 col-xs-6">
                                                <span class="glyphicon glyphicon-eye-open text-white middle"></span>
                                                <span class="fs_0-7 text-white"> [[ item.viewed ]]</span>
                                                <span class="glyphicon glyphicon-comment text-white middle"></span>
                                                <span class="fs_0-7 text-white"> [[ item.count_comment ]]</span>

                                            </div>
                                            <div class="col-xs-6 margin-top_30 padding-right_5 text-right fs_0-8 text-white" ng-if="item.start_date != item.end_date">
                                                <time>[[ item.start_date | date: "dd.MM.yyyy" ]]</time> - <time>[[ item.end_date | date: "dd.MM.yyyy" ]]</time>
                                            </div>
                                            <div class="col-xs-6 padding-right_5 text-right fs_0-8 text-white" ng-if="item.start_date == item.end_date">
                                                <time>[[ item.start_date | date: "dd.MM.yyyy" ]]</time><br>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                        </div>
                    </div>



                    <div class="row margin-top_10" ng-if="(events.length % 2) != 0">
                        <div class="col-xs-4 trio_events" ng-repeat="item in events.slice(0, 3)">
                            <div class="container_image_events block left text-gray">
                                <a href="/#!/events/[[ item.id_cat ]]" class="name_category">[[ item.name_cat ]]</a>
                                <a href="/#!/event/[[ item.id ]]">
                                    <img ng-if="item.img" class="main_small_img_event" ng-src="{{  path_img_event_original }}[[ item.path ]][[ item.img ]]" />
                                    <div ng-if="!item.img" class="glyphicon glyphicon-picture text-gray-light fs_3-2 default_img_event"></div>
                                </a>
                                <a href="/#!/event/[[ item.id ]]" class="margin-top_5">
                                    <div class="col-xs-6 padding-left_3">
                                        <span class="glyphicon glyphicon-eye-open text-gray-light middle"></span> <span class="fs_0-7 text-gray-light"> [[ item.viewed ]]</span>
                                        <span class="glyphicon glyphicon-comment text-gray-light middle"></span> <span class="fs_0-7 text-gray-light"> [[ item.count_comment ]]</span>

                                    </div>
                                    <div class="col-xs-6 padding-right_5 text-right fs_0-8 text-gray-light" ng-if="item.start_date != item.end_date">
                                        <time>[[ item.start_date | date: "dd.MM.yyyy" ]]</time><br>
                                        <time>[[ item.end_date | date: "dd.MM.yyyy" ]]</time>
                                    </div>
                                    <div class="col-xs-6 padding-right_5 text-right fs_0-8 text-gray-light" ng-if="item.start_date == item.end_date">
                                        <time>[[ item.start_date | date: "dd.MM.yyyy" ]]</time><br>
                                    </div>
                                </a>
                                <a href="/#!/event/[[ item.id ]]" class="row col-xs-12 margin-top_5 text-black text-bold text-underline_hover">
                                    [[ item.name ]]
                                </a>
                                <a href="/#!/event/[[ item.id ]]" class="row col-xs-12 margin-top_5 text-gray text-underline_none_hover" parse-description ng-model="item.description"></a>
                            </div>
                        </div>


                        <div  ng-class="{'col-xs-4':((key % 2) == 0), 'col-xs-8':((key % 2) != 0), 'right':((key % 2) == 0) && ((key/2 % 2) != 0)}" class="margin-bottom_10 margin-top_10 trio_events" ng-repeat="(key,item) in events.slice(3, events.length)">

                            <div ng-if="(key % 2) == 0" ng-class="{'container_image_events':(key % 2) == 0}" class="block left text-gray">
                                <a href="/#!/events/[[ item.id_cat ]]" class="name_category">[[ item.name_cat ]]</a>
                                <a href="/#!/event/[[ item.id ]]">
                                    <img ng-if="item.img" class="main_small_img_event" ng-src="{{  path_img_event_original }}[[ item.path ]][[ item.img ]]" />
                                    <div ng-if="!item.img" class="glyphicon glyphicon-picture text-gray-light fs_3-2 default_img_event"></div>
                                </a>
                                <a href="/#!/event/[[ item.id ]]" class="margin-top_5">
                                    <div class="col-xs-6 padding-left_3">
                                        <span class="glyphicon glyphicon-eye-open text-gray-light middle"></span> <span class="fs_0-7 text-gray-light"> [[ item.viewed ]]</span>
                                        <span class="glyphicon glyphicon-comment text-gray-light middle"></span> <span class="fs_0-7 text-gray-light"> [[ item.count_comment ]]</span>

                                    </div>
                                    <div class="col-xs-6 padding-right_5 text-right fs_0-8 text-gray-light" ng-if="item.start_date != item.end_date">
                                        <time>[[ item.start_date | date: "dd.MM.yyyy" ]]</time><br>
                                        <time>[[ item.end_date | date: "dd.MM.yyyy" ]]</time>
                                    </div>
                                    <div class="col-xs-6 padding-right_5 text-right fs_0-8 text-gray-light" ng-if="item.start_date == item.end_date">
                                        <time>[[ item.start_date | date: "dd.MM.yyyy" ]]</time><br>
                                    </div>
                                </a>
                                <a href="/#!/event/[[ item.id ]]" class="row col-xs-12 margin-top_5 text-black text-bold text-underline_hover">
                                    [[ item.name ]]
                                </a>
                                <a href="/#!/event/[[ item.id ]]" class="row col-xs-12 margin-top_5 text-gray text-underline_none_hover" parse-description ng-model="item.description"></a>
                            </div>

                            <div ng-if="(key % 2) != 0" ng-class="{'container_image_events_big':((key % 2) != 0)}" class="block left">
                                <a href="/#!/events/[[ item.id_cat ]]" class="name_category">[[ item.name_cat ]]</a>

                                <a href="/#!/event/[[ item.id ]]" >
                                    <img ng-if="item.img" class="blur" ng-src="{{  path_img_event_original }}[[ item.path ]][[ item.img ]]" />
                                    <div ng-if="!item.img" class="glyphicon glyphicon-picture text-gray-light fs_3-2 default_img_event"></div>
                                    <div class="container_image_events_big_text col-xs-10 col-xs-offset-1">
                                        <div class="fs_2-0 text-underline">[[ item.name ]]</div>
                                        <div class="margin-top_30 col-xs-6">
                                            <span class="glyphicon glyphicon-eye-open text-white middle"></span>
                                            <span class="fs_0-7 text-white"> [[ item.viewed ]]</span>
                                            <span class="glyphicon glyphicon-comment text-white middle"></span>
                                            <span class="fs_0-7 text-white"> [[ item.count_comment ]]</span>

                                        </div>
                                        <div class="col-xs-6 margin-top_30 padding-right_5 text-right fs_0-8 text-white" ng-if="item.start_date != item.end_date">
                                            <time>[[ item.start_date | date: "dd.MM.yyyy" ]]</time> - <time>[[ item.end_date | date: "dd.MM.yyyy" ]]</time>
                                        </div>
                                        <div class="col-xs-6 padding-right_5 text-right fs_0-8 text-white" ng-if="item.start_date == item.end_date">
                                            <time>[[ item.start_date | date: "dd.MM.yyyy" ]]</time><br>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="banner-horizontal margin-top_40 text-center">
                    {% if banners_b.url %}
                        <a href=" {{ banners_b.link }}"><img ng-src="{{ banners_b.url }}" alt="{{ banners_b.name }}" /></a>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>


