    <div class="row slid" ng-init="post_id = {{ post_id }}">

        <form class="col-sm-10 padding-left_0 form_create_post" name="baraholka_form">
            <div class="row margin-top_20">
                <div class="col-sm-2">Категория:</div>
                <div class="col-sm-10">
                    <select focus-if="submitted && baraholka_form.post_category.$error.required" name="post_category" class="selectForumId" ng-model="post_category.id" required>
                        <option ng-repeat="p_category in post_category" value="[[ p_category.id ]]">[[ p_category.name ]]</option>
                    </select>
                    <br>
                    <span class="text-danger" ng-show="submitted && baraholka_form.post_category.$error.required">Категория не выбрана</span>
                </div>
            </div>

            <div class="row margin-top_20">
                <div class="col-sm-2">Разделы:</div>
                <div class="col-sm-10">

                    {#<select name="section" class="selectForumId" ng-model="section" ng-options="children.id as children.name for children in baraholka">#}
                    {#</select>#}

                    <select focus-if="submitted && baraholka_form.section.$error.required" name="section" class="selectForumId" ng-model="section" required>
                        <optgroup ng-repeat="children in baraholka" label="[[ children.name ]]">
                            <option ng-repeat="child in children.children" value="[[ child.id ]]">[[ child.name ]]</option>
                        </optgroup>
                    </select>
                    <br/>
                    <span class="text-danger" ng-show="submitted && baraholka_form.section.$error.required">Раздел не выбран</span>
                </div>
            </div>

            <div class="row margin-top_20">
                <div class="col-sm-2">Заголовок:</div>
                <div class="col-sm-10">
                    <input focus-if="submitted && baraholka_form.tit.$error.required" type="text" name="tit" ng-model="name_title" ng-required="true" required="">
                    <span class="text-danger" ng-show="submitted && baraholka_form.tit.$error.required">Заголовок не должен быть пустым</span>
                </div>
            </div>

            <div class="row margin-top_20">
                <div class="col-sm-2">Местонахождения:</div>
                <div class="col-sm-10">
                    <select name="city" class="selectForumId" ng-model="city">
                        <option value="[[ p_city.id ]]" ng-repeat="p_city in post_city">[[ p_city.name ]]</option>
                    </select>
                </div>
            </div>

            <div class="horizontal_line_baraholka"></div>

            <div class="row margin-top_20">
                <div class="col-sm-12">
                    <h4>Подробно опишите товар или услугу</h4>
                    <textarea focus-if="submitted && baraholka_form.full_description_short.$error.required" class="margin-top_10" ng-model="full_description" name="full_description" required=""></textarea>
                    <span class="text-danger" ng-show="submitted && baraholka_form.full_description.$error.required">Описание не может быть пустым</span>
                </div>
            </div>

            <div class="row margin-top_20">
                <div class="col-sm-12">
                    Краткое описание
                    <textarea focus-if="submitted && baraholka_form.description_short.$error.required" ng-model="description_short" name="description_short" required=""></textarea>
                    <span class="text-danger" ng-show="submitted && baraholka_form.description_short.$error.required">Краткое описание не может быть пустым</span>
                </div>
            </div>

            <div class="horizontal_line_baraholka"></div>

            <div class="row margin-top_20">
                <div class="col-sm-12">
                    <h4>Обязательно указывайте реальную цену</h4>
                    <div>
                        <input focus-if="submitted && baraholka_form.price.$error.required" type="number" ng-model="price" name="price" style="width: 100px;" required=""> руб.<br/>

                        <span class="text-danger" ng-show="submitted && baraholka_form.price.$error.required">Цена не указана</span>

                        <div class="margin-top_5">
                                <label for="search">Торг уместен</label>
                                <input id="search" class="extended__search__element" ng-model="auction" type="checkbox">
                                <span></span>
                            </div>
                    </div>
                </div>
            </div>

            <div class="horizontal_line_baraholka"></div>

            <div class="margin-top_10">
                <label class="" for="uploadImg" style="font-weight: normal;" ng-disabled="uploader.isUploading">
                    <div ng-disabled="uploader.isUploading" class="button_favorites early-message text-center pointer left"><span class="middle">Выбрать</span></div> <span class="margin-left_10">jpg, png, gif не более 10Mb</span>
                </label>
            </div>

            <input type="file" nv-file-select="" uploader="uploader" multiple id="uploadImg"  class="hidden" ng-disabled="uploader.isUploading" />

            <div class="row margin-left_0">

                <div class="upload__element margin-top_20" ng-repeat="item in uploader.queue" style="float: left;">
                    <label class="glyphicon glyphicon-pencil edit__album ng-isolate-scope pointer" edit-pain="info">
                        <input type="checkbox" class="hidden">
                        <div class="edit__album__menu">
                            <ul class="margin-top_10">
                                <li ng-click="item.remove()">Удалить</li>
                                <li ng-init="item.main = 0" ng-click="item.main = 1">
                                    Обложкой
                                </li>
                            </ul>
                        </div>
                    </label>

                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }" class="text-center thumb__upload"></div>

                    {#<div class="text-center">#}
                        {#<span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>#}
                        {#<span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>#}
                        {#<span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>#}
                    {#</div>#}
                </div>
            </div>

            <div class="row col-sm-12 margin-top_20">
                <div class="col-sm-12 padding-left_0 padding-right_0">
                    <div ng-show="uploader.isHTML5" style="height: 30px;">
                        <div nv-file-drop="" uploader="uploader" options="{ url: '/foo' }">
                            <div class="progress" ng-show="uploader.progress" nv-file-over="" uploader="uploader" over-class="another-file-over-class">
                                <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }">[[ uploader.progress ]] %</div>
                            </div>
                        </div>
                    </div>
                </div>

                {#<div class="col-sm-12 bg-warning text-center">#}
                        {#<h5 class="text-danger">Увеличьте продажи: оплатите выделение объявления через банкомат, инфокиоск, интернет-банкинг!</h5>#}
                        {#Варианты выделения всего от 3000 рублей. Заметное объявление — активные продажи! <a href="/price.php" target="_blank">Посмотреть цены</a>#}
                {#</div>#}
            </div>

            <div class="row text-center">
                <button type="button" ng-show="!uploader.queue.length" class="button_message early-message text-center text-white pointer margin-top_10" ng-click="(submitted = true) && !baraholka_form.$error.required && createPostBaraholka()" >
                    Продолжить
                </button>
                <button type="button" ng-show="uploader.queue.length" class="button_message early-message text-center text-white pointer margin-top_10" ng-click="(submitted = true) && !baraholka_form.$error.required && uploader.uploadAll()" >
                    Продолжить
                </button>
                <br>
                <span class="text-danger" ng-show="submitted && baraholka_form.$error.required">Не все поля заполнены</span>
            </div>

        </form>

        <div class="col-sm-2">

            <div class="row">
                <div class="margin-top_80">
                    {% if banners_v1.url %}<a href="{{ banners_v1.link }}"><img class="margin-top_20" src="{{ banners_v1.url }}" alt="{{ banners_v1.name }}" /></a>{% endif %}
                    {% if banners_v2.url %}<a href="{{ banners_v2.link }}"><img class="margin-top_20" src="{{ banners_v2.url }}" alt="{{ banners_v2.name }}" /></a>{% endif %}
                    {% if banners_v3.url %}<a href="{{ banners_v3.link }}"><img class="margin-top_20" src="{{ banners_v3.url }}" alt="{{ banners_v3.name }}" /></a>{% endif %}
                </div>
            </div>

        </div>

    </div>
