   <link rel="stylesheet" href="/css/pages/main.css">

    <div class="row slid">

        <div class="slid__slider">
            <img src="/var/www/creativer/web/img/img_slider.png" />
        </div>

        <div class="col-sm-6 text-left slide__products">
            <a href="{{ path('creativer_front_main') }}#/products11/" class="toys_souvenirs"></a>
            <a href="{{ path('creativer_front_main') }}#/products/13" class="books"></a>
            <a href="{{ path('creativer_front_main') }}#/products/14" class="bijouterie"></a>
            <a href="{{ path('creativer_front_main') }}#/products/" class="clothing"></a>
            <a href="{{ path('creativer_front_main') }}#/products/" class="clothing"></a>
            <a href="{{ path('creativer_front_main') }}#/products/15" class="pictures"></a>
            <a href="{{ path('creativer_front_main') }}#/products/" class="shoes"></a>
            <a href="{{ path('creativer_front_main') }}#/products/" class="accessories"></a>
            <a href="{{ path('creativer_front_main') }}#/products/" class="bags_belts"></a>
        </div>
        <div class="col-sm-6 text-right slide__services right">
            <a href="{{ path('creativer_front_main') }}#/services/1" class="manicure"></a>
            <a href="{{ path('creativer_front_main') }}#/services/2" class="tattoo"></a>
            <a href="{{ path('creativer_front_main') }}#/services/3" class="hairstyles"></a>
            <a href="{{ path('creativer_front_main') }}#/services/4" class="makeup"></a>
            <a href="{{ path('creativer_front_main') }}#/services/7" class="design"></a>
            <a href="{{ path('creativer_front_main') }}#/services/6" class="foto"></a>
            <a href="{{ path('creativer_front_main') }}#/services/8" class="sports_massage"></a>
        </div>

    </div>
