        <div class="row slid  padding-right_0" ng-show="user">

            <div class="row">
                <div class="col-sm-5 padding-left_0">
                    <div class="col-sm-7 padding-left_0" >
                        <h3 class="lobster name__user"><a href="/#!/[[ user.id ]]">[[ user.username ]] [[ user.lastname ]]</a></h3>
                    </div>
                    <div ng-if="user.connection_status != '{{ date_online }}' && user.id != $root.id_user" class="col-sm-5 connection_status line-height_1 margin-top_25 padding-right_15 text-right">
                        [[ user.connection_status | date: "dd MMM HH:mm" ]]
                    </div>
                    <div ng-if="user.connection_status == '{{ date_online }}' && user.id != $root.id_user" class="col-sm-5 connection_status line-height_1 margin-top_25 padding-right_15 text-right">
                        Online
                    </div>
                </div>
            </div>

            <div class="col-sm-2 user padding-left_0">
                {{ render(controller('CreativerFrontBundle:Default:userInfoTmp', {'id': id})) }}
            </div>

            <div class="col-sm-7 album">

                <h4 class="lobster margin-top_20 text-gray">Новости</h4>

                <div class="row margin-top_10 one_post" ng-init="post.remove_post = false" ng-repeat="(key, post) in user.wall.posts">

                    <div class="col-sm-2">
                        <a href="/#!/[[ post.user.id ]]" ng-click="removeUser(post.user.id)" ng-if="post.user" ng-class="{'user__avatar-mini_online':post.user.connection_status == '{{ date_online }}'}" class="user__avatar-mini" style="background-color: [[ post.user.color ]]">
                            <img ng-if="post.user.avatar" ng-src="[[ post.user.avatar ]]">
                        </a>
                        <a href="/#!/[[ user.id ]]" ng-if="!post.user" class="user__avatar-mini" ng-class="{'user__avatar-mini_online':post.user.connection_status == '{{ date_online }}'}" style="background-color: [[ user.color ]]">
                            <img  ng-src="[[ user.avatar ]]">
                        </a>
                    </div>
                    <div class="col-sm-10 padding-left_0" ng-init="edits=false">
                        <div ng-if="!post.user" class="col-sm-6 user__text_bold padding-left_0">[[ user.username ]] [[ user.lastname ]]</div>
                        <a ng-href="/#!/[[ post.user.id ]]" ng-if="post.user" class="pointer col-sm-6 user__text_bold padding-left_0">[[ post.user.username ]] [[ post.user.lastname ]]</a>
                        {% if is_granted('ROLE_USER') %}
                           <div ng-if="(post.user.id == id_user) && (post.remove_post == false)" ng-show="edits == false" class="col-sm-6 text-right edit_post">
                                <span class="text-gray glyphicon glyphicon-pencil pointer" editer_post ng-click="editPost(post.id)"></span>
                                <span ng-click="post.remove_post = true">
                                    <span class="text-gray glyphicon glyphicon-remove pointer"></span>
                                </span>
                           </div>

                            <div ng-if="edits" class="col-sm-6 text-right">
                                <span class="text-blue pointer" complete_edit>Завершить</span>
                            </div>

                            <div ng-if="post.remove_post == true" class="col-sm-6 text-right">
                                Удалить ?
                                <span class="text-blue pointer" ng-click="removePost(post.id,key)">Да</span> |
                                <span ng-click="post.remove_post = false" class="text-blue pointer">Нет</span>
                            </div>
                        {%  endif %}
                        <div class="col-sm-12 margin-top_10 padding-left_0 padding-right_0" ng-if="post" ng-init="imaging(post)">
                            <div class="left img_post" ng-repeat="(key_post_img,img) in post.post_images">
                                    <img_post id_img="[[ img.id ]]" ng-if="img.new" remove_img_post></img_post>
                                    <img_post id_img="[[ img.id ]]"></img_post>
                                <a ng-href="/#!/news/[[ key ]]/[[ key_post_img ]]" >
                                    <img src="{{ path_img_post_thums }}[[ img.path ]][[ img.name ]]" height="[[ img.height ]]" width="[[ img.width ]]" style="margin-right: 1px; margin-left: 1px; margin-bottom: 2px;">
                                </a>
                            </div>
                        </div>

                        <div class="col-sm-12 padding-left_0 padding-right_0" ng-if="post">
                            <div class="left img_post" ng-repeat="(key,video) in post.post_videos">
                                <video_post id_video="[[ video.id ]]" ng-if="video.new" remove_video_post></video_post>
                                <video_post id_video="[[ video.id ]]"></video_post>
                                <iframe width="451" height="262" style="margin-right: 1px; margin-left: 1px;" ng-src="[[ post.post_videos[key].url | trustAsResourceUrl ]]" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>

                        <div class="upload__element_person row col-sm-12 margin-top_5 line-height_1 padding-left_0 padding-right_0" ng-repeat="(key,document) in post.post_documents">
                            <a href="{{ path_documents }}[[ post.post_documents[key].path ]][[ post.post_documents[key].name ]]" class="text-blue col-sm-11 text-underline_none_hover">
                                <span class="glyphicon glyphicon-open-file fs_2-0 left"></span>
                                <span class="fs_0-9">[[ post.post_documents[key].real_name ]]</span><br />
                                <span class="text-gray fs_0-8">[[ post.post_documents[key].size | bytes ]]</span>
                            </a>
                            <document_post id_document="[[ document.id ]]" ng-if="document.new" remove_document_post></document_post>
                            <document_post id_document="[[ document.id ]]"></document_post>
                        </div>

                        <a disabled-link="!edits" data-ng-class="{'disabled': edits}" href="/#!/[[ post.user.id ]]/post/[[ post.id ]]" class="col-sm-12 padding-left_0">
                            <p class="user__text text-left col-sm-12 padding-left_0 user__text__post" placeholder="Текст">[[post.text]]</p>
                        </a>

                        <div class="row">
                            <div class="col-sm-10 col-sm-offset_2 attacher">
                            </div>
                        </div>

                        <div class="row col-sm-12 padding-right_0 progress__wrapper" ng-show="editUploaderPost.progress">

                        </div>

                        <div class="row" ng-init="post.comments_all_show = false;">
                            {% if is_granted('ROLE_USER') %}
                                <div class="col-sm-4 user__text-blue"><span class="text-blue pointer" ng-show="!post.comments[0]" ng-click="com='true'">Комментировать</span></div>
                                <a class="col-sm-8 text-right text-underline_none_hover" href="/#!/[[ post.user.id ]]/post/[[ post.id ]]"><time class="comment_time padding-right_15">[[ post.date | date: "dd MMM yyyy" ]]</time></a>
                            {%  else %}
                                <a class="col-sm-12 col-sm-offset-6 text-right text-underline_none_hover" href="/#!/[[ post.user.id ]]/post/[[ post.id ]]"><time class="comment_time padding-right_15">[[ post.date | date: "dd MMM yyyy" ]]</time></a>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div ng-show="post.comments.length > 2 && post.comments_all_show == false" ng-click="post.comments_all_show = true" class="col-sm-offset-2 col-sm-9 text-gray text-center comments_show">
                            Показать все [[ post.comments.length ]] комментариев
                        </div>
                    </div>
                    <div class="row margin-left_60 col-sm-11 one_comment" ng-if="post.comments_all_show == true" ng-repeat="(key,comment) in post.comments">
                        <div class="col-sm-11 margin-left_25 margin-top_10 slid__comment__line"></div>
                        <div class="col-sm-2">
                            <a ng-href="/#!/[[ comment.user.id ]]" ng-class="{'user__avatar-super-mini_online':comment.user.connection_status == '{{ date_online }}'}" ng-if="comment.user" class="user__avatar-super-mini" style="background-color: [[ comment.user.color ]]">
                                <img ng-if="comment.user" ng-src="[[ comment.user.avatar ]]">
                            </a>
                            <a ng-href="/#!/[[ user.id ]]" ng-class="{'user__avatar-super-mini_online':comment.user.connection_status == '{{ date_online }}'}" ng-if="!comment.user" class="user__avatar-super-mini" style="background-color: [[ user.color ]]">
                                <img  ng-src="[[ user.avatar ]]">
                            </a>
                        </div>
                        <div class="col-sm-10 padding-left_0">
                            <a ng-href="/#!/[[ comment.user.id ]]" ng-click="removeUser(comment.user.id)" class="col-sm-6 user__text_bold" ng-if="comment.user">[[ comment.user.username ]] [[ comment.user.lastname ]]</a>
                            <a ng-href="/#!/[[ user.id ]]" class="col-sm-6 user__text_bold" ng-if="!comment.user">[[ user.username ]] [[ user.lastname ]]</a>
                            <div ng-if="comment.user.id == id_user && !comment.remove_comment"  class="col-sm-6 text-right edit_comment">
                                <span ng-click="comment.remove_comment = true">
                                    <span class="text-gray glyphicon glyphicon-remove pointer"></span>
                                </span>
                            </div>

                            <div ng-if="comment.remove_comment == true" class="col-sm-6 text-right">
                                Удалить ?
                                <span class="text-blue pointer" ng-click="removeComment(post,comment)">Да</span> |
                                <span ng-click="comment.remove_comment = false" class="text-blue pointer">Нет</span>
                            </div>

                            <div class="user__text col-sm-12" ng-bind-html="comment.text | linky:'_blank' | imagey"></div>
                            <div class="col-sm-12">
                                <time class="text-gray comment_time">[[ comment.date | date: "dd MMM yyyy HH:mm" ]]</time>
                                <span class="right pointer fs_0-8 text-blue" ng-show="comment.user.id != id_user" ng-click="post.text_comment = comment.user.username+', '">Ответить</span>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-left_60 col-sm-11 one_comment" ng-if="post.comments_all_show == false" ng-repeat="(key,comment) in post.comments.slice(post.comments.length-2,post.comments.length)">
                        <div class="col-sm-11 margin-left_25 margin-top_10 slid__comment__line"></div>
                        <div class="col-sm-2">
                            <a ng-href="/#!/[[ comment.user.id ]]" ng-class="{'user__avatar-super-mini_online':comment.user.connection_status == '{{ date_online }}'}" ng-if="comment.user" class="user__avatar-super-mini" style="background-color: [[ comment.user.color ]]">
                                <img ng-if="comment.user" ng-src="[[ comment.user.avatar ]]">
                            </a>
                            <a href="/#!/[[ user.id ]]" ng-class="{'user__avatar-super-mini_online':comment.user.connection_status == '{{ date_online }}'}" ng-if="!comment.user" class="user__avatar-super-mini" style="background-color: [[ user.color ]]">
                                <img  ng-src="[[ user.avatar ]]">
                            </a>
                        </div>
                        <div class="col-sm-10 padding-left_0">
                            <a ng-href="/#!/[[ comment.user.id ]]" ng-click="removeUser(comment.user.id)" class="col-sm-6 user__text_bold" ng-if="comment.user">[[ comment.user.username ]] [[ comment.user.lastname ]]</a>
                            <a ng-href="/#!/[[ user.id ]]" class="col-sm-6 user__text_bold" ng-if="!comment.user">[[ user.username ]] [[ user.lastname ]]</a>
                            <div ng-if="comment.user.id == id_user && !comment.remove_comment"  class="col-sm-6 text-right edit_comment">
                                <span ng-click="comment.remove_comment = true">
                                    <span class="text-gray glyphicon glyphicon-remove pointer"></span>
                                </span>
                            </div>

                            <div ng-if="comment.remove_comment == true" class="col-sm-6 text-right">
                                Удалить ?
                                <span class="text-blue pointer" ng-click="removeComment(post,comment)">Да</span> |
                                <span ng-click="comment.remove_comment = false" class="text-blue pointer">Нет</span>
                            </div>

                            <div class="user__text col-sm-12" ng-bind-html="comment.text | linky:'_blank' | imagey"></div>
                            <div class="col-sm-12">
                                <time class="text-gray comment_time">[[ comment.date | date: "dd MMM yyyy HH:mm" ]]</time>
                                <span class="right pointer fs_0-8 text-blue" ng-show="comment.user.id != id_user" ng-click="post.text_comment = comment.user.username+', '">Ответить</span>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-left_60 col-sm-11" ng-show="post.comments[0] || com">
                        {% if is_granted('ROLE_USER') %}
                            <textarea msd-elastic="" class="text-gray margin-left_20 margin-top_10"  ng-model="post.text_comment" cols="63" rows="1" placeholder="Комментировать" style="width: 455px;"></textarea>
                            <div ng-show="post.text_comment" class="margin-top_5 margin-left_20 text-right" style="margin-right: 15px;">
                                <button class="true fs_0-9" ng-class="{'loader': loader_comment}" ng-click="saveComment(post,post.id,post.text_comment)">Отправить</button>
                                <button class="false fs_0-9" ng-click="post.text_comment=''">Отмена</button>
                            </div>
                        {%  endif %}
                    </div>

                </div>

                {#<div ng-show="user.wall.posts.length > 4" class="text-center col-sm-12 load_post text-gray pointer margin-top_10" ng-click="previousPosts()">#}
                    {#Показать предыдущие посты#}
                {#</div>#}

            </div>

        </div>


        <div ui-view>
        </div>









