{% extends "CreativerFrontBundle::layout.html.twig" %}
{% block title %}Регистрация{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="/css/pages/vendor.css">
        <link rel="stylesheet" href="/css/pages/registration.css">
        <link rel="stylesheet" href="/css/ng-img-crop.css">
        <link rel="stylesheet" href="/css/vendor/component.css" />
        <link rel="stylesheet" href="/css/fonts.css">
        <link rel="stylesheet" href="/css/sprites.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/helpers.css">
        <link rel="stylesheet" href="/css/component.css">

    {% endblock %}

    {% block javascripts %}
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="/js/vendor.js"></script>
        <script src="/js/ng-img-crop.js"></script>
        <script src="/js/controllers/registration.js"></script>
        <script src="/js/svgcheckbx.js"></script>

    {% endblock %}

{% block body %}

    <div class="row slid">

        <form action="{{ path('creativer_front_registration') }}" method="post" class="row form-registration ac-custom ac-radio ac-fill" autocomplete="off" name="registration"  ng-app="app" ng-controller="Ctrl">

            <div class="row"><h3 class="lobster margin-left_0">Выберите удобный вариант размещения:</h3></div>

            <p class="row fs_1-2 text-gray margin-left_10">Мы дарим вам <span class="text-bold text-blue">600 000</span> белорусских рублей на ваш личный счет на покупку безлимитного пакета! Получите полгода бесплатного пользования сайтом. Спасибо, что теперь вы с нами!</p>
			
            <div class="row line_package">
                <div class="col-sm-4">
                    <input style="display: none;" id="r1" name="form[r1]" type="radio" value="1">
                    <label class="start" for="r1">
					 <p>&nbsp</p>
                        <div class="lobster text-white fs_1-5 margin-top_60">Начальный</div>
                        <p class="col-sm-10 col-sm-offset-1 margin-left_30 text-white"> до 10 фото ваших работ </p>
						<p class="lobster text-white fs_1-5">бесплатно</p>
                    </label>
                </div>
                <div class="col-sm-4">
                    <input style="display: none;" id="r2" name="form[r1]" type="radio" value="2">
                    <label class="standard" for="r2">
					<p>&nbsp</p>
                        <div class="lobster text-white fs_1-5 margin-top_60">Стандартный</div>
                        <p class="col-sm-10 col-sm-offset-1 text-white"> до 50 фото ваших работ </p>
						<p class="lobster text-white fs_1-5">50.000 руб/мес</p>

                    </label>
                </div>
                <div class="col-sm-4">
                    <input style="display: none;" id="r3" name="form[r1]" type="radio" value="3" checked>
                    <label class="unlimited" for="r3">
					<p>&nbsp</p>
                        <div class="lobster text-white fs_1-5 margin-top_60 margin-left_10">Безлимитный</div>
                        <p class="col-sm-10 col-sm-offset-1 margin-left_30 text-white"> неограниченное количество фото ваших работ </p>
						<p class="lobster text-white fs_1-5"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp100.000 руб/мес </p>

                    </label>
                </div>
            </div>

        <div class="row"><h3 class="lobster margin-left_0">Регистрация</h3></div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="row col-sm-12">
                                {{ form_row(form._token) }}
                                {% if form.vars.value %}
                                    {% set username = 'username="' ~ form.vars.value.username ~ '"' %}
                                    {% set lastname = 'lastname="' ~ form.vars.value.lastname ~ '"' %}
                                    {% set email = 'email="' ~ form.vars.value.email ~ '"' %}
                                {% else %}
                                    {% set username = 'username=""' %}
                                    {% set lastname = 'lastname=""' %}
                                    {% set email = 'email=""' %}
                                {% endif %}

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-registration__element"><label for="name">Имя:</label></div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-registration__element">{{  form_widget(form.username, {'attr': {'class': 'name','id': 'name','name': 'username', 'ng-model': 'username', 'ng-init': username, 'ng-required': 'true'}}) }}</div>
                                    <span class="text-danger ng-hide" ng-show="submitted && registration['form[username]'].$error.required">Имя пользователя не может быть пустым</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-registration__element"><label for="name">Фамилия:</label></div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-registration__element">{{  form_widget(form.lastname, {'attr': {'class': 'name','id': 'name','name': 'lastname', 'ng-model': 'lastname', 'ng-init': lastname, 'ng-required': 'true'}}) }}</div>
                                    <span class="text-danger ng-hide" ng-show="submitted && registration['form[lastname]'].$error.required">Фамилия пользователя не может быть пустой</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-registration__element"><label for="email">E-mail:</label></div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-registration__element">{{  form_widget(form.email, {'attr': {'class': 'email','id': 'email','name': 'email', 'ng-model': 'email', 'ng-init': email, 'ng-required': 'true'}}) }}</div>
                                    <span class="text-danger ng-hide" ng-show="submitted && registration['form[email]'].$error.required">Email не может быть пустым</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-registration__element"><label for="password">Пароль:</label></div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-registration__element">{{  form_widget(form.password.first, {'attr': {'class': 'password','id': 'password','name': 'password', 'ng-model': 'password.first'}}) }}</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-registration__element"><label for="password_repeat">Пароль ещё раз:</label></div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-registration__element">{{  form_widget(form.password.second, {'attr': {'class': 'password','id': 'password','name': 'password', 'ng-model': 'password.second'}}) }}</div>
                                    <span class="text-danger ng-hide" ng-show="submitted && (password.first != password.second)">Паролт не совпадают</span>
                                </div>
                            </div>



                        <style>
                            .ac-custom  input[type="checkbox"] + label::before{
                                border: none;
                            }
                        </style>
                        {#<div class="margin-top_40 form-registration__text form-registration__text-blue">#}
                            {#<span class="md-trigger md-setperspective" data-toggle="modal" data-target="#myModal">Прочтите условия соглашения</span>#}
                        {#</div>#}
                        <div class="form-registration__text margin-top_40">
                            <input style="display: none;" id="condition" name="condition" type="checkbox" required="required" ng-model="checked">
                            <label class="condition left" for="condition"></label>
                            <label class="margin-left_5 pointer" style="background: none; padding: 0px;" for="condition">Я согласен c <a target="_blank" href="/#!/rules">Правилами сайта</a> и <a target="_blank" href="/#!/agreement">Публичным договором</a></label>
                        </div>

                        <div class="row">
                            <ul>
                                {% for error in errors %}
                                    <li class="text-danger">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="margin-top_30">
                            <button type="submit" class="form-registration__submit" id="send" ng-disabled="!checked" ng-click="(submitted = true)">Отправить</button>
                            <button type="reset" class="form-registration__reset">Отменить</button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 padding-left_0">
                    <div class="upload_img margin-left_0">
                        <span class="form-registration__img" ng-model="myImage">
                            <img src="[[myCroppedImage]]" ng-init="myImage = '{% if img is defined %}{{ img|escape  }}{% endif %}'" >
                        </span>
                        <label class="form-registration__text-blue">Загрузить ваше фото <input type="file" id="fileInput" style="display: none;" /></label>
                        <input type="hidden" name="form[img]" value="[[ myCroppedImage ]]">
                        <div>
                            <div class="cropArea" style="zoom: reset;" {% if img is defined %} style="display:none;" {% endif %}>
                                <img-crop  image="myImage" result-image="myCroppedImage" result-image-size="120" ></img-crop>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </form>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: #eae9e3;">
                <div class="modal-header">
                    <h4 class="modal-title lobster" id="myModalLabel">Условия</h4>
                </div>
                <div class="modal-body">
                    Условия регистрации
                </div>
                <div class="modal-footer">
                    <button class="true fs_0-9" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <style>
        .modal-backdrop{
            background-color: #6F5F56;
        }
    </style>


{% endblock %}
