    <div class="row slid">

        <div class="col-xs-10 padding-left_0">


            <table class="shops__table margin-top_25 padding-left_0">
                <tr ng-repeat="(key, post) in posts">
                    <td class="shops__table__left">
                        <div class="col-xs-2 padding-left_0">
                            <img ng-if="post.img" ng-src="{{ path_img_shop }}/[[ post.path ]][[ post.img ]]" />
                            <img ng-if="!post.img" ng-src="{{ path_img_shop }}/[[ post.images[0].path ]][[ post.images[0].name ]]" />
                        </div>
                    </td>
                    <td class="shops__table__right" ng-init="post.remove_post = false">
                        <div class="col-xs-10 text-left">
                            <a href="/#!/shop/[[ post.id ]]">[[ post.name ]]</a>
                            <p class="text-gray">[[ post.description ]]</p>
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="/#!/edit_shop/[[ post.id ]]">
                                <span ng-if="post.remove_post == false" class="glyphicon glyphicon-pencil close_image_shop ng-isolate-scope" ng-click="post.remove_post = true"></span>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            </table>

            <div ng-if="search && !posts.length && (searchInCategory || searchInBaraholka)" class="lobster text-center text-gray fs_3-2">Ничего не найдено</div>


        </div>

        <div class="col-xs-2">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="/#!/create_shop" class="col-xs-5 advert_button margin-top_20">Добавить магазин</a>
            {% endif %}


            <div class="row">
                <div class="margin-top_80">
                    {% if banner_v1.url %}<a href="{{ banner_v1.link }}"><img class="margin-top_20" src="{{ banner_v1.url }}" alt="{{ banner_v1.name }}" /></a>{% endif %}
                    {% if banner_v2.url %}<a href="{{ banner_v2.link }}"><img class="margin-top_20" src="{{ banner_v2.url }}" alt="{{ banner_v2.name }}" /></a>{% endif %}
                    {% if banner_v3.url %}<a href="{{ banner_v3.link }}"><img class="margin-top_20" src="{{ banner_v3.url }}" alt="{{ banner_v3.name }}" /></a>{% endif %}
                </div>

            </div>

        </div>



    </div>
