<div ng-show="url_img" class="background__viewer">
    <a ng-show="user.albums[album_key].images[key_img-1].name" href="#!/album/[[id_album]]/[[ user.albums[album_key].images[key_img-1].name ]]/[[key_img-1]]" class="right background__viewer__link__previous">
        <span class="glyphicon glyphicon-chevron-left text-white previous"></span>
    </a>
    <a ng-show="!user.albums[album_key].images[key_img-1].name" ng-click="closeImg()" href="#!/album/[[id_album]]" class="right background__viewer__link__previous">
        <span class="glyphicon glyphicon-chevron-left text-white previous"></span>
    </a>
    <div class="border__viewer">
        <div class="border__viewer__wrapper">
            <div class="wrapper__background">
                <a ng-show="user.albums[album_key].images[next_key_img].name" href="#!/album/[[id_album]]/[[ user.albums[album_key].images[next_key_img].name ]]/[[next_key_img]]">
                    <img class="margin-top_10 viewer__image" style="max-height: [[ height ]]px;" src="{{ path_img_album_original }}/[[ user.albums[album_key].images[key_img].path ]][[url_img]]" />
                    <img style="display: none;" src="{{ path_img_album_original }}/[[ user.albums[album_key].images[next_key_img].path ]][[ user.albums[album_key].images[next_key_img].name ]]" />
                </a>
                <a ng-show="!user.albums[album_key].images[next_key_img].name" ng-click="closeImg()" href="#!/album/[[id_album]]">
                    <img class="margin-top_10 viewer__image" style="max-height: [[ height ]]px;" src="{{ path_img_album_original }}/[[ user.albums[album_key].images[key_img].path ]][[url_img]]" />
                </a>
            </div>
            <div class="margin-top_10 row wrapper__comment">

                <div class="col-sm-10 padding-left_0 overflow-hidden">
                    <span class="left user__text">[[ user.albums[album_key].images[key_img].text ]]</span>
                </div>



                <div class="col-sm-3 padding-right_0 padding-left_0 text-right right">
                    <time class="text-gray ng-binding">[[ user.albums[album_key].images[key_img].date | date: "dd MMM yyyy" ]]</time> |

                    {% if is_granted('ROLE_USER') %}
                        <span ng-class="{'click_class':(click_class === 'true' && user.albums[album_key].images_likes[img_id].liked), 'yes_like':user.albums[album_key].images_likes[img_id].liked}"  ng-if="user.albums[album_key].images_likes[img_id].liked != undefined" class="text-blue glyphicon glyphicon-heart pointer no_like" style="top: 2px;" ng-click="like(user.albums[album_key].images[key_img].id,album_key,key_img); click_class = 'true'">
                                           <span class="fs_1-1 lobster" style="font-weight: bold; margin-left: -4px;">[[ user.albums[album_key].images[key_img].likes ]]</span>
                                       </span>
                    {% else %}
                        <span class="text-blue glyphicon glyphicon-heart no_like" style="top: 2px;">
                                           <span class="fs_1-1 lobster" style="font-weight: bold; margin-left: -4px;">[[ user.albums[album_key].images[key_img].likes ]]</span>
                                       </span>
                    {% endif %}
                </div>

            </div>
            <div ng-show="delete" class="user__text">Вы уверены, что хотите удалить это изображение? <span class="text-blue pointer margin-left_10" ng-click="deleteImage(user.albums[album_key].images[key_img].id,key_img,album_key)">Да</span> <span class="text-blue pointer margin-left_10" ng-click="delete = false">Нет</span></div>
            <div class="horizontal_line_album_img wrapper__comment"></div>

            <div class="row margin-top_10 wrapper__comment">

                <div class="col-sm-9 text-left padding-right_0" >
                    <div class="row col-sm-12 comm padding-right_0" ng-repeat="(key,comment) in user.albums[album_key].images[key_img].image_comments">
                        <div class="col-sm-2">
                            <a href="#!/[[ comment.user.id ]]" ng-class="{'user__avatar-super-mini_online':comment.user.connection_status == '{{ date_online }}'}"  class="user__avatar-super-mini" ng-if="comment.user" style="background-color: [[ comment.user.color ]]">
                                <img  ng-src="[[ comment.user.avatar ]]">
                            </a>
                            <a href="#!/[[ user.id ]]" ng-class="{'user__avatar-super-mini_online':user.connection_status == '{{ date_online }}'}"  class="user__avatar-super-mini" ng-if="!comment.user" style="background-color: [[ user.color ]]">
                                <img ng-src="[[ user.avatar ]]">
                            </a>
                        </div>
                        <div class="col-sm-10 padding-left_10 padding-right_0">

                            <div class="col-sm-12 padding-left_0 padding-right_0" ng-init="comment.remove_comment = false">
                                <a href="#!/[[ comment.user.id ]]" class="row col-sm-6 user__text_bold text-left text-gray" ng-if="comment.user">[[ comment.user.username ]] [[ comment.user.lastname ]]</a>
                                <a href="#!/[[ user.id ]]" class="row col-sm-6 user__text_bold text-left text-gray" ng-if="!comment.user">[[ user.username ]] [[ user.lastname ]]</a>

                                <div class="col-sm-6 padding-right_0">
                                    <div ng-if="id_user == comment.user.id && comment.remove_comment == false" class="right text-right edit_post">
                                        <span ng-click="comment.remove_comment = true">
                                            <span class="text-gray glyphicon glyphicon-remove pointer"></span>
                                        </span>
                                    </div>
                                    <div ng-if="comment.remove_comment == true" class="col-sm-12 padding-right_0 text-right">
                                        Удалить ?
                                        <span class="text-blue pointer" ng-click="removeComment(album_key,key_img,comment.id,key)">Да</span> |
                                        <span ng-click="comment.remove_comment = false" class="text-blue pointer">Нет</span>
                                    </div>
                                </div>
                            </div>


                            <div class="row col-sm-12"><p class="user__text left">[[ comment.text ]]</p></div>
                            <div class="col-sm-12 padding-left_0">
                                <time class="text-gray comment_time">[[ comment.date | date: "dd MMM yyyy HH:mm" ]]</time>
                                <span class="right pointer fs_0-8 text-blue" ng-show="comment.user.id != id_user" ng-click="user.text_comment = comment.user.username+', '">Ответить</span>
                            </div>
                        </div>
                        <div class="col-sm-11 margin-left_25 margin-top_10 slid__comment__line"></div>
                    </div>

                    {% if is_granted('ROLE_USER') %}
                        <textarea msd-elastic="" class="text-gray margin-left_25 margin-top_10 ng-pristine ng-valid ng-touched" ng-model="user.text_comment" cols="55" rows="1" placeholder="Оставить комментарий" style="width: 400px; overflow: hidden; word-wrap: break-word; resize: none; height: 77px;"></textarea>
                        <div ng-show="user.text_comment" class="margin-top_5 text-right padding-right_15">
                            <button class="true fs_0-9" ng-click="saveImageComment(user.albums[album_key].images[key_img],user.text_comment)" ng-class="{'loader':loader_album_comment}">Отправить</button>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-5">
                            <a href="#!/[[ user.id ]]" ng-class="{'user__avatar-super-mini_online':user.connection_status == '{{ date_online }}'}"  class="user__avatar-super-mini left" style="background-color: [[ user.albums[album_key].color ]]">
                                <img ng-src="[[ user.avatar ]]">
                            </a>
                        </div>
                        <div class="col-sm-7">
                            <a href="#!/[[ user.id ]]" class="text-gray">
                                <span class="fs_0-8">[[ user.username ]] [[ user.lastname ]]</span>
                            </a>
                            <a href="#!/album/[[ user.albums[album_key].id ]]">
                                <span class="text-blue fs_0-8">[[ user.albums[album_key].name ]]</span>
                            </a>
                        </div>
                    </div>
                    <nav class="margin-top_10">
                        <a target="_blank" href="/home/album/original/[[ user.albums[album_key].images[key_img].path ]][[ user.albums[album_key].images[key_img].name ]]"><span class="text-blue left">Увеличить</span></a><br>
                        {% if is_granted('ROLE_USER') %}
                            <span class="text-blue left pointer" ng-show="$root.id_user == user.id" ng-click="delete = true">Удалить</span><br>
                        {% endif %}
                    </nav>
                    <div class="share padding-right_0 text-left margin-top_10">
                        <a href="http://vk.com/share.php?url=http://creativer.by/album/[[ user.albums[album_key].id ]]/[[ user.albums[album_key].images[key_img].name ]]/0&title=[[ user.albums[album_key].images[key_img].text ]]&description=[[ user.albums[album_key].description ]]&image=http://creativer.by/home/album/original/[[ user.albums[album_key].images[key_img].path ]][[user.albums[album_key].images[key_img].name]]$noparse=true" class="ico_vk pointer" ></a>
                        <a href="http://www.facebook.com/sharer.php?s=100&p[url]=http://creativer.by/album/[[ user.albums[album_key].id ]]/[[ user.albums[album_key].images[key_img].name ]]/0&p[title]=[[ user.albums[album_key].images[key_img].text ]]&p[summary]=[[ user.albums[album_key].description ]]&p[images][0]=http://creativer.by/home/album/original/[[ user.albums[album_key].images[key_img].path ]][[user.albums[album_key].images[key_img].name]]" class="ico_facebook pointer"></a>
                        <a href="http://twitter.com/share?text=[[ user.albums[album_key].images[key_img].text ]]&url=http://creativer.by/album/[[ user.albums[album_key].id ]]/[[ user.albums[album_key].images[key_img].name ]]/0" class="ico_twitter pointer" ></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <a href="#!/album/[[id_album]]" ng-click="closeImg()" class="right background__viewer__link__next">
        <span class="glyphicon glyphicon-remove text-white close_img"></span>
    </a>
</div>
