<div ng-show="url_img" class="background__viewer">
    <a href="#products/[[ product_id ]]/[[ page ]]/[[ items.items[key_img -1].name ]]/[[key_img-1]]" class="right background__viewer__link__previous">
        <span class="glyphicon glyphicon-chevron-left text-white previous"></span>
    </a>
    <div class="border__viewer">
        <div class="border__viewer__wrapper">
            <div class="wrapper__background">
                <a href="#products/[[ product_id ]]/[[ page ]]/[[ items.items[next_key_img].name ]]/[[next_key_img]]">
                    <img class="margin-top_10 viewer__image" style="max-height: [[ height ]]px;" src="{{ path_img_album_original }}/[[ items.items[key_img].path ]][[url_img]]" />
                    <img style="display: none;" src="{{ path_img_album_original }}/[[ items.items[next_key_img].path ]][[ items.items[next_key_img].name ]]" />
                    <img style="display: none;" src="{{ path_img_album_original }}/[[ items.items[key_img-1].path ]][[ items.items[key_img-1].name ]]" />
                </a>
            </div>
            <div class="margin-top_10 row wrapper__comment">
                <div class="col-sm-7 padding-left_0 overflow-hidden">
                    <span class="left user__text">[[ items.items[key_img].text_img ]]</span>
                </div>
                <div class="col-sm-5 padding-right_0 padding-left_0 text-right">
                    <time class="text-gray ng-binding">[[ items.items[key_img].date  | date: "dd MMM yyyy" ]]</time> |

                    {% if is_granted('ROLE_USER') %}
                        <span ng-class="{'click_class':(click_class === 'true' && items.images_likes[items.items[key_img].id].liked), 'yes_like':items.images_likes[items.items[key_img].id].liked}"  ng-if="items.items[key_img].likes != undefined" class="text-blue glyphicon glyphicon-heart pointer no_like" style="top: 2px;" ng-click="like(items.items[key_img].id,key_img); click_class = 'true'">
                            <span class="fs_1-1 lobster" style="font-weight: bold; margin-left: -4px;">[[ items.items[key_img].likes ]]</span>
                        </span>
                    {% else %}
                        <span class="text-blue glyphicon glyphicon-heart no_like" style="top: 2px;">
                            <span class="fs_1-1 lobster" style="font-weight: bold; margin-left: -4px;">[[ items.items[key_img].likes ]]</span>
                        </span>
                    {% endif %}
                </div>
            </div>
            <div class="horizontal_line_album_img wrapper__comment"></div>

            <div class="row margin-top_10 wrapper__comment">

                <div class="col-sm-9 text-left" >
                    <div ng-if="items.items[key_img][0]" class="row col-sm-12 padding-right_0" ng-repeat="(key,comment) in items.items[key_img][0].image_comments">
                        <div class="col-sm-2">
                            <a href="#/[[ comment.user.id ]]" ng-class="{'user__avatar-super-mini_online':comment.user.connection_status == '{{ date_online }}'}" class="user__avatar-super-mini" ng-if="comment.user" style="background-color: [[ comment.user.color ]]">
                                <img  ng-src="[[ comment.user.avatar ]]">
                            </a>
                            <a href="#/[[ user.id ]]" ng-class="{'user__avatar-super-mini_online':user.connection_status == '{{ date_online }}'}" class="user__avatar-super-mini" ng-if="!comment.user" style="background-color: [[ user.color ]]">
                                <img ng-src="[[ user.avatar ]]">
                            </a>
                        </div>
                        <div class="col-sm-10 padding-left_10 padding-right_0 comm" ng-init="comment.remove_comment = false">
                            <div class="row">
                                <div class="col-sm-6 user__text_bold text-left" ng-if="comment.user"><a class="text-gray" href="#/[[ comment.user.id ]]">[[ comment.user.username ]] [[ comment.user.lastname ]]</a></div>
                                <div class="col-sm-6 user__text_bold text-left" ng-if="!comment.user"><a class="text-gray" href="#/[[ user.id ]]">[[ user.username ]] [[ user.lastname ]]</a></div>
                                <div class="col-sm-6 padding-right_0">
                                    <div ng-if="id_user == comment.user.id && comment.remove_comment == false" class="right text-right edit_post">
                                            <span ng-click="comment.remove_comment = true">
                                                <span class="text-gray glyphicon glyphicon-remove pointer"></span>
                                            </span>
                                    </div>
                                    <div ng-if="comment.remove_comment == true" class="col-sm-12 padding-right_0 text-right">
                                        Удалить ?
                                        <span class="text-blue pointer" ng-click="removeComment(key_img,comment.id,key)">Да</span> |
                                        <span ng-click="comment.remove_comment = false" class="text-blue pointer">Нет</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row col-sm-12"><p class="user__text left">[[ comment.text ]]</p></div>
                            <div class="row col-sm-12 text-left"><time class="text-gray comment_time">[[ comment.date | date: "dd MMM yyyy HH:mm" ]]</time></div>
                        </div>
                        <div class="col-sm-12 margin-left_25 margin-top_10 slid__comment__line"></div>
                    </div>

                    <div ng-if="!items.items[key_img][0]" class="row col-sm-12 padding-right_0" ng-repeat="(key,comment) in items.items[key_img].image_comments">
                        <div class="col-sm-2">
                            <a href="#/[[ comment.user.id ]]" ng-class="{'user__avatar-super-mini_online':comment.user.connection_status == '{{ date_online }}'}" class="user__avatar-super-mini" ng-if="comment.user" style="background-color: [[ comment.user.color ]]">
                                <img  ng-src="[[ comment.user.avatar ]]">
                            </a>
                            <a href="#/[[ user.id ]]" ng-class="{'user__avatar-super-mini_online':user.connection_status == '{{ date_online }}'}" class="user__avatar-super-mini" ng-if="!comment.user" style="background-color: [[ user.color ]]">
                                <img ng-src="[[ user.avatar ]]">
                            </a>
                        </div>
                        <div class="col-sm-10 padding-left_10 padding-right_0 comm" ng-init="comment.remove_comment = false">
                            <div class="row">
                                <div class="col-sm-6 user__text_bold text-left" ng-if="comment.user"><a class="text-gray" href="#/[[ comment.user.id ]]">[[ comment.user.username ]] [[ comment.user.lastname ]]</a></div>
                                <div class="col-sm-6 user__text_bold text-left" ng-if="!comment.user"><a class="text-gray" href="#/[[ user.id ]]">[[ user.username ]] [[ user.lastname ]]</a></div>
                                <div class="col-sm-6 padding-right_0">
                                    <div ng-if="id_user == comment.user.id && comment.remove_comment == false" class="right text-right edit_post">
                                            <span ng-click="comment.remove_comment = true">
                                                <span class="text-gray glyphicon glyphicon-remove pointer"></span>
                                            </span>
                                    </div>
                                    <div ng-if="comment.remove_comment == true" class="col-sm-12 padding-right_0 text-right">
                                        Удалить ?
                                        <span class="text-blue pointer" ng-click="removeComment(key_img,comment.id,key)">Да</span> |
                                        <span ng-click="comment.remove_comment = false" class="text-blue pointer">Нет</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row col-sm-12"><p class="user__text left">[[ comment.text ]]</p></div>
                            <div class="row col-sm-12 text-left"><time class="text-gray comment_time">[[ comment.date | date: "dd MMM yyyy HH:mm" ]]</time></div>
                        </div>
                        <div class="col-sm-12 margin-left_25 margin-top_10 slid__comment__line"></div>
                    </div>

                    {% if is_granted('ROLE_USER') %}
                        <textarea msd-elastic="" class="text-gray margin-left_25 margin-top_10 ng-pristine ng-valid ng-touched" ng-model="text_comment" cols="55" rows="1" placeholder="Оставить комментарий" style="width: 400px; overflow: hidden; word-wrap: break-word; resize: none; height: 46px;"></textarea>
                        <div ng-show="text_comment" class="margin-top_5 text-right">
                            <button ng-if="items.items[key_img][0]" class="true fs_0-9" ng-click="saveImageComment(items.items[key_img][0],text_comment)" ng-class="{'loader':loader}">Отправить</button>
                            <button ng-if="!items.items[key_img][0]" class="true fs_0-9" ng-click="saveImageComment(items.items[key_img],text_comment)" ng-class="{'loader':loader}">Отмена</button>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-3">

                    <div class="row">
                        <div class="col-sm-5">
                            <a href="#/[[ items.items[key_img].id_user ]]" ng-class="{'user__avatar-super-mini_online':items.items[key_img].connection_status == '{{ date_online }}'}" class="user__avatar-super-mini left" style="background-color: [[ items.items[key_img].color ]]">
                                <img ng-src="[[ items.items[key_img].avatar ]]">
                            </a>
                        </div>
                        <div class="col-sm-7">
                            <a href="#/[[ items.items[key_img].id_user ]]" class="text-gray">
                                <span class="fs_0-8">[[ items.items[key_img].username ]] [[ items.items[key_img].lastname ]]</span>
                            </a><br>
                            <a href="#/album/[[ items.items[key_img].id_album ]]">
                                <span class="text-blue fs_0-8">[[ items.items[key_img].name_album ]]</span>
                            </a>
                        </div>
                    </div>
                    <nav class="margin-top_10">
                        <a target="_blank" href="/home/album/original/[[ items.items[key_img].path ]][[ items.items[key_img].name ]]"><span class="text-blue left">Увеличить</span></a><br>
                    </nav>
                    <div class="share padding-right_0 text-left margin-top_10">
                        <a href="http://vk.com/share.php?url=http://creativer.by/album/[[ items.items[key_img].id_album ]]/[[ items.items[key_img].name ]]/0&title=[[ items.items[key_img].text_img ]]&description=[[ items.items[key_img].description ]]&image=http://creativer.by/home/album/original/[[ items.items[key_img].path ]][[url_img]]$noparse=true" class="ico_vk pointer" ></a>
                        <a href="http://www.facebook.com/sharer.php?s=100&p[url]=http://creativer.by/album/[[ items.items[key_img].id_album ]]/[[ items.items[key_img].name ]]/0&p[title]=[[ items.items[key_img].text_img ]]&p[summary]=[[ items.items[key_img].description ]]&p[images][0]=http://creativer.by/home/album/original/[[ items.items[key_img].path ]][[url_img]]" class="ico_facebook pointer"></a>
                        <a href="http://twitter.com/share?text=[[ items.items[key_img].text_img ]]&url=http://creativer.by/album/[[ items.items[key_img].id_album ]]/[[ items.items[key_img].name ]]/0" class="ico_twitter pointer" ></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <a href="#products/[[ product_id ]]/[[ page ]]" ng-click="closeImg()" class="right background__viewer__link__next">
        <span class="glyphicon glyphicon-remove text-white close_img"></span>
    </a>
</div>