<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1045">
    <title>Welcome!</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <meta property="og:title" content="creativer.by"/>
    <meta property="og:description" content="{{ text }}"/>
    <meta property="og:image" content="http://creativer.by/home/album/original/{{ path }}{{ name }}">

    <meta name="title" content="creativer.by" />
    <meta name="description" content="{{ text }}" />
    <link rel="image_src" href="http://creativer.by/home/album/original/{{ path }}{{ name }}" />

</head>
<body>

<script>
    window.location.replace("http://creativer.by/#/album/{{ id_album }}/{{ name }}/");
</script>

</body>
</html>