<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1045">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <script src="/js/angular.min.js"></script>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% if is_mobile_view() %}
    {% else %}
        <link rel="stylesheet" href="/css/screens.css">
    {% endif %}
</head>
<body>
<div class="container wrapper">

    <header class="header">

        <div class="row">
            <div class="col-sm-3 col-md-offset-1 fiveMinuts">
                <a href="" class="btn button_header_03 text-left">
                    <span>Соцсеть</span>
                </a>
                <a href="{{ path('creativer_front_main') }}#/baraholka" class="btn button_header_05 right">
                    <span>Барахолка</span>
                </a>
            </div>

            <div class="col-sm-4 col-md-offset-3 fiveMinuts">
                <a href="#/feedback" class="btn button_header_09 right">
                    <span>Обратная связь</span>
                </a>
                <a href="" class="btn button_header_07 right">
                    <span>События</span>
                </a>
            </div>

            {% if is_granted('ROLE_USER') %}

            {% else %}
                <div class="col-sm-1">
                    <img src="/var/www/creativer/web/img/flag_rus.png"  alt="русский"/>
                </div>
            {% endif %}
        </div>

        <div class="row margin-top_5">
            <div class="col-sm-2 col-sm-offset-1">
                <div class="header__search-border left"><input class="header__search fiveMinuts" placeholder="Что ищем?"/></div>
                <div class="header__search-button">
                    <img  src="/var/www/creativer/web/img/search_button.png" alt="поиск" />
                </div>
            </div>

            <div class="col-sm-7">
                <a href="{{ path('person') }}" class="logo">
                    <img src="/var/www/creativer/web/img/logo.png" />
                </a>
            </div>

            {% if is_granted('ROLE_USER') %}
                <div class="personal col-sm-1 padding-left_0">
                    <label class="still_label-person" for="checkbox-menu-person">
                        <div class="user__avatar-mini-header">
                            <img src="{{ app.user.avatar.img }} ">
                        </div>
                    </label>

                    <input type="checkbox" id="checkbox-menu-person">

                    <nav class="menu-personal">
                        <ul class="margin-top_20">
                            <li><a href="{{ path('person') }}#/{{ app.user.id }}">Моя страница</a></li>
                            <li><a href="{{ path('person') }}#/create_album">Создать альбом</a></li>
                            <li><a href="{{ path('person') }}#/favorit">Избранное</a></li>
                            <li><a href="{{ path('person') }}#/messages">Сообщения</a></li>
                            <li><a href="">Настройки</a></li>
                            <li><a href="">Статистика</a></li>
                            <li><a href="">Помощь</a></li>
                            <li><a href="{{ path("logout") }}">Выход</a></li>
                        </ul>
                    </nav>
                </div>
            {% else %}
                {{ render(controller('CreativerFrontBundle:Default:login')) }}
                <div class="col-sm-1">
                    <img src="/var/www/creativer/web/img/flag_bel.png" alt="русский">
                </div>
            {% endif %}

        </div>

        {% if is_granted('ROLE_USER') %}
        {% else %}
            <div class="row">
                <div class="col-sm-3 col-sm-offset-8 fiveMinuts">
                    <a href="" class="margin-left_10 fs_1-1 text-style">Вспомнить всё</a>
                    <a href="{{ path("creativer_front_registration") }}" class="margin-left_25 fs_1-1 text-style">Регистрация</a>
                </div>

                <div class="col-sm-1">
                    <img src="/var/www/creativer/web/img/flag_eng.png"  alt="русский"/>
                </div>
            </div>
        {% endif %}


    </header>
{% block body %}{% endblock %}

</div>

{% block javascripts %}{% endblock %}

</div>

<footer class="footer wrapper">
    <nav class="footer__menu col-sm-12 fiveMinuts">
        <ul>
            <li><a href="{{ path('creativer_front_main') }}#/">Соцсеть</a></li>
            <li><a href="{{ path('creativer_front_main') }}#/baraholka">Барахолка</a></li>
            <li><a href="#">События</a></li>
            <li><a href="#/feedback">Обратная связь</a></li>
            <li><a href="#">Правовая информация</a></li>
        </ul>
    </nav>

    <div class="row col-sm-12">
        <div class="col-sm-6">
            <div class="row  padding-5-15-5-15">&copy; 2015 Creativer. Все права защищены.</div>

        </div>
    </div>
</footer>
</body>
</html>