<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1045">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <meta property="og:title" content="Здесь креатив"/>
    <meta property="og:description" content="Портал для креативных людей"/>
    <meta property="og:image" content="http://creativer.by/var/www/creativer/web/img/share_img.jpg">

    <meta name="title" content="Здесь креатив" />
    <meta name="description" content="Портал для креативных людей" />
    <link rel="image_src" href="http://creativer.by/var/www/creativer/web/img/share_img.jpg" />

    {% block stylesheets %}{% endblock %}
    <script src="/js/angular.min.js"></script>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% if is_mobile_view() %}
    {% else %}
        <link rel="stylesheet" href="/css/screens.css">
    {% endif %}
</head>
<body>
<div class="container wrapper">

    <header class="header">

        <div class="row">
            <div class="col-sm-3 col-sm-offset-1 fiveMinuts padding-left_0">
                <a href="/#/products/1000" class="btn button_header_09 text-left">
                    <span>Товары</span>
                </a>
                <a href="/#/products/1001" class="btn button_header_05 right">
                    <span>Услуги</span>
                </a>
            </div>

            <div class="col-sm-4 col-sm-offset-3 fiveMinuts">
                <a href="/#/baraholka" class="btn button_header_09 right">
                    <span>Барахолка</span>
                </a>
                <a href="/#/events" class="btn button_header_07 right">
                    <span>События</span>
                </a>
            </div>

            {% if is_granted('ROLE_USER') %}

            {% else %}
                <div class="col-sm-1">
                    {#<img src="/var/www/creativer/web/img/flag_rus.png"  alt="русский"/>#}
                </div>
            {% endif %}
        </div>

        <div class="row margin-top_5">
            <div class="col-sm-3 col-sm-offset-1">
                <div class="header__search-border left"><input class="header__search fiveMinuts" placeholder="Что ищем?"/></div>
                <div class="header__search-button left">
                    <img  src="/var/www/creativer/web/img/search_button.png" alt="поиск" />
                </div>
            </div>

            <div class="col-sm-6">
                <a href="{{ path('person') }}" class="logo">
                    <img src="/var/www/creativer/web/img/logo.png" />
                </a>
            </div>

            {% if is_granted('ROLE_USER') %}
                <div class="personal col-sm-1 padding-left_0">
                    <label class="still_label-person" for="checkbox-menu-person">
                        <div class="user__avatar-mini-header">
                            <img src="{{ app.user.avatar }} ">
                        </div>
                    </label>

                    <input type="checkbox" id="checkbox-menu-person">

                    <nav class="menu-personal">
                        <ul class="margin-top_20">
                            <li><a href="{{ path('person') }}#/{{ app.user.id }}">Моя страница</a></li>
                            <li><a href="{{ path('person') }}#/create_album">Создать альбом</a></li>
                            <li><a href="{{ path('person') }}#/favorit">Избранное</a></li>
                            <li><a href="{{ path('person') }}#/messages">Сообщения</a></li>
                            <li><a href="">Настройки</a></li>
                            <li><a href="{{ path("logout") }}">Выход</a></li>
                        </ul>
                    </nav>
                </div>
            {% else %}
                {{ render(controller('CreativerFrontBundle:Default:login')) }}
                <div class="col-sm-1">
                    {#<img src="/var/www/creativer/web/img/flag_bel.png" alt="русский">#}
                </div>
            {% endif %}

        </div>

        {% if is_granted('ROLE_USER') %}
        {% else %}
            <div class="row">

                <div class="col-sm-1">
                    {#<img src="/var/www/creativer/web/img/flag_eng.png"  alt="русский"/>#}
                </div>
            </div>
        {% endif %}


    </header>
{% block body %}{% endblock %}

</div>

{% block javascripts %}{% endblock %}

</div>

<footer class="footer wrapper">
    <nav class="footer__menu col-sm-12 fiveMinuts">
        <ul>
            <li><a href="#/about">О нас</a></li>
            <li><a href="#/about">Помощь</a></li>
            <li><a href="#/feedback">Обратная связь</a></li>
            <li><a href="#/legal_information">Правовая информация</a></li>
            <li><a href="#/agreement">Публичный договор</a></li>
            <li><a href="#/rules">Правила сайта</a></li>
        </ul>
    </nav>

    <div class="row col-sm-12">
        <div class="row  padding-5-15-5-15 padding-right_0">&copy; 2015 Creativer. Все права защищены.</div>
        <div class="col-sm-2 right padding-right_0">
            <a href="http://twitter.com/share?text=Здесь креатив&url=http://creativer.by" class="ico_twitter pointer right" ></a>
            <a href="http://www.facebook.com/sharer.php?s=100&p[url]=http://creativer.by/&p[title]=Здесь креатив&p[summary]=Портал для креативных людей&p[images][0]=http://creativer.by/var/www/creativer/web/img/share_img.jpg" class="ico_facebook pointer right"></a>
            <a href="http://vk.com/share.php?url=http://creativer.by/&title=Здесь креатив&description=Портал для креативных людей&image=http://creativer.by/var/www/creativer/web/img/share_img.jpg$noparse=true" class="ico_vk pointer right" ></a>
        </div>
    </div>
</footer>
</body>
</html>