<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1045">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/css/pages/vendor.css">
    <link rel="stylesheet" href="/css/ng-img-crop.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/sprites.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/helpers.css">

    <link rel="stylesheet" href="/css/vendor/angular-multi-select-tree-0.1.0.css">

    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-route.min.js"></script>
    <script src="/js/angular-animate.min.js"></script>
    <script src="/js/angular-resource.min.js"></script>
    <script src="/js/ng-img-crop.js"></script>
    <script src="/js/angular-multi-select-tree-0.1.0.min.js"></script>
    <script src="/js/angular-multi-select-tree-0.1.0.tpl.js"></script>
    <script src="/js/socket.io.js"></script>



    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body ng-hide="$root.hid != true" class="ng-hide">
<div class="container wrapper">
{% if app.user %}
    <div ng-model="id_user" ng-init="id_user={{ app.security.getToken().getUser().getId() }}"></div>
    <div ng-model="username" ng-init="username='{{ app.security.getToken().getUser().getUsername() }}'"></div>
    <div ng-model="lastname" ng-init="lastname='{{ app.security.getToken().getUser().getLastname() }}'"></div>
    <div ng-model="img" ng-init="img='{{ app.security.getToken().getUser().getAvatar().getImg() }}'"></div>
{% endif %}


<header class="header">

    <div class="row">
        <div class="col-sm-3 col-sm-offset-1 fiveMinuts">
            <a href="#/{% if app.user %}{{app.user.id}}{% endif %}" class="btn button_header_03 text-left">
                <span>Соцсеть</span>
            </a>
            <a href="#/baraholka" class="btn button_header_05 right">
                <span>Барахолка</span>
            </a>
        </div>

        <div class="col-sm-4 col-sm-offset-3 fiveMinuts">
            <a href="#/feedback" class="btn button_header_09 right">
                <span>Обратная связь</span>
            </a>
            <a href="" class="btn button_header_07 right">
                <span>События</span>
            </a>
        </div>

        {% if is_granted('ROLE_USER') %}
            <div class="col-sm-1">
            </div>
        {% else %}
            <div class="col-sm-1">
                <img src="/var/www/creativer/web/img/flag_rus.png"  alt="русский"/>
            </div>
        {% endif %}
    </div>

    <div class="row margin-top_5">
        <div class="col-sm-2 col-sm-offset-1">
            <div class="header__search-border left"><input class="header__search fiveMinuts" placeholder="Что ищем?"/></div>
            <div class="header__search-button">
                <img  src="/var/www/creativer/web/img/search_button.png" alt="поиск" />
            </div>
        </div>

        <div class="col-sm-5">
            <a href="{{ path('creativer_front_main') }}#/" class="logo">
                <img src="/var/www/creativer/web/img/logo.png" />
            </a>
        </div>

        {% if is_granted('ROLE_USER') %}
            <div class="messages col-sm-2 margin-top_10 margin-left_30 text-center">
                <img class="margin-left_25" ng-src="/var/www/creativer/web/img/message_ico.png" alt="сообщения"/>
                    <span class="text-white fiveMinuts margin-left_5" >([[ $root.new_messages.length ]])</span><br>
                <span class="text-white fiveMinuts">Сообщения</span>
            </div>
            <div class="personal col-sm-1 padding-left_0">
                <label class="still_label-person" for="checkbox-menu-person">
                    <div class="user__avatar-mini-header" ng-class="{spinner: !user}">
                        <img ng-src="[[ $root.avatar ]]" ng-init="$root.avatar = '{{app.user.avatar.img}}'">
                    </div>
                </label>

                <input type="checkbox" id="checkbox-menu-person">

                <nav class="menu-personal">
                    <ul class="margin-top_20">
                        <li><a href="{{ path('person') }}#/{{ app.user.id }}">Моя страница</a></li>
                        <li><a href="{{ path('person') }}#/create_album">Создать альбом</a></li>
                        <li><a href="{{ path('person') }}#/favorit">Избранное</a></li>
                        <li><a href="{{ path('person') }}#/messages">Сообщения</a></li>
                        <li><a href="">Настройки</a></li>
                        <li><a href="">Статистика</a></li>
                        <li><a href="">Помощь</a></li>
                        <li><a href="{{ path("logout") }}">Выход</a></li>
                    </ul>
                </nav>
            </div>
        {% else %}
            {{ render(controller('CreativerFrontBundle:Default:login')) }}
            <div class="col-sm-1">
                <img src="/var/www/creativer/web/img/flag_bel.png" alt="русский">
            </div>
        {% endif %}

    </div>

    {% if is_granted('ROLE_USER') %}
    {% else %}
        <div class="row">
            <div class="col-sm-3 col-sm-offset-8 fiveMinuts">
                <a href="" class="margin-left_10 fs_1-1 text-style">Вспомнить всё</a>
                <a href="{{ path('creativer_front_registration') }}" class="margin-left_25 fs_1-1 text-style">Регистрация</a>
            </div>

            <div class="col-sm-1">
                <img src="/var/www/creativer/web/img/flag_eng.png"  alt="русский"/>
            </div>
        </div>
    {% endif %}

</header>
    <div class="view-animate-container">
        <div ng-view class="view-animate"></div>
    </div>

</div>

{% if app.request.get('_route') == 'person' %}
{% else %}
{% endif %}
    <script src="/js/services/socket.js"></script>
    <script src="/js/services/chatService.js"></script>
    <script src="/js/angular-file-upload.js"></script>
    <script src="/js/services/personService.js"></script>
    <script src="/js/services/albumService.js"></script>
    <script src="/js/services/catalogService.js"></script>
    <script src="/js/services/baraholkaService.js"></script>
    <script src="/js/services/messagesService.js"></script>
    <script src="/js/controllers/person.js"></script>
    <script src="/js/controllers/album.js"></script>
    <script src="/js/controllers/catalog.js"></script>
    <script src="/js/controllers/baraholka.js"></script>
    <script src="/js/controllers/messages.js"></script>
    <script src="/js/apps/app.js"></script>
    <script src="/js/elastic.js"></script>
</div>
<footer class="footer wrapper">
    <nav class="footer__menu col-sm-12 fiveMinuts">
        <ul>
            <li><a href="{{ path('person') }}#/">Соцсеть</a></li>
            <li><a href="#/baraholka">Барахолка</a></li>
            <li><a href="#">События</a></li>
            <li><a href="#/feedback">Обратная связь</a></li>
            <li><a href="#">Правовая информация</a></li>
        </ul>
    </nav>

    <div class="row col-sm-12">
        <div class="col-sm-6">
            <div class="row  padding-5-15-5-15">&copy; 2015 Creativer. Все права защищены.</div>

        </div>
    </div>
</footer>
</body>
</html>